<a href="https://colab.research.google.com/github/DmitryBal/Cup_Russia/blob/main/%D0%A1%D0%9C%D0%9E2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
import pickle
import math

from math import factorial

import numpy as np
import pandas as pd

In [ ]:
# V = 39
lam = 7.384
mu = 1.069
dTz = 0.141

m = 12
n = 7

# Система массового обслуживания (D|M|n)

In [ ]:
class Device:
    def __init__(self, device_id):
        self.device_id = device_id
        self.is_busy = False
        self.finish_time = None
        self.cur_request = None
        self.processing_time = None
        self.processed = 0
        self.was_busy = 0


    def finish(self, time):
      global requests
      if not self.is_busy: return
      print(f"DEVICE {self.device_id} HAS UNFINISHED JOB!")
      self.was_busy += time - requests[self.cur_request]["ts"]


    def new_request(self, request, write=True, override=False):
        global counter
        global actions
        global requests
        global state
        global left_time
        global next_query_deadline
        global min_finish
        self.is_busy = True
        self.processed += 1

        time = next_query_deadline if not override else override

        # Записать время и событие принятия заявки
        print(f'{time}: Устройство {self.device_id} приняло заявку {request}, {counter}')

        processing_time = np.random.exponential(1/mu)
        self.processing_time = processing_time
        if write:
          counter += 1
          actions.append([
            counter, #number
            time, # time recieved
            1, # type
            state, # state
            processing_time if processing_time < min_finish-time else min_finish-time, #min time left of work
            dTz, # next query in
            request, # request num
            self.device_id # device number
          ])

        self.finish_time = time + processing_time
        self.cur_request = request

        requests[request].update({
          "tq": time - requests[request]["tz"], # queue time
          "ts": time,
          "tw": self.processing_time, # for how long worked
          "te": self.finish_time, # when finished working
          "tk": self.device_id # who worked on request
        })

    def process_request(self):
        global counter
        global actions
        global devices
        global state
        global left_time
        global min_finish
        global next_query_deadline
        global min_device
        global devices
        global queue


        min_finish = np.inf
        min_device = None
        free_device = None

        for device in devices:
          if device.is_busy and device.finish_time < min_finish and device.device_id != self.device_id:
            min_finish = device.finish_time
            min_device = device
          elif not device.is_busy and free_device is None and device.device_id != self.device_id: free_device = device

        # Записать время и событие завершения обработки
        counter += 1
        state -= 1
        self.was_busy += self.processing_time

        print(f'{self.finish_time}: Устройство {self.device_id} обработало заявку {self.cur_request}, {counter}')

        requests[self.cur_request].update({
          "tw": self.processing_time, # for how long worked
          "te": self.finish_time, # when finished working
        })

        # requests[self.cur_request].update({
        # })

        # есть ли новые заявки в очереди, добавить новый реквест
        if len(queue) != 0 and counter <= 100:
            self.processed += 1

            actions.append([
              counter, #number
              self.finish_time, # time recieved
              2, # type
              state, # state
              self.processing_time if self.processing_time < min_finish-self.finish_time else min_finish-self.finish_time, #min time left of work
              next_query_deadline - self.finish_time, # next query in
              self.cur_request, # request num
              self.device_id # device number
            ])

            request = queue.pop(0)
            time = self.finish_time

            # Записать время и событие принятия заявки
            print(f'{time}: Устройство {self.device_id} приняло заявку {request}, {counter}')

            processing_time = np.random.exponential(1/mu)
            self.processing_time = processing_time

            self.finish_time = time + processing_time
            self.cur_request = request

            requests[request].update({
              "tq": time - requests[request]["tz"], # queue time
              "ts": time,
              "tw": self.processing_time, # for how long worked
              "te": self.finish_time, # when finished working
              "tk": self.device_id # who worked on request
            })
        elif counter <= 100:
          actions.append([
            counter, #number
            self.finish_time, # time recieved
            2, # type
            state, # state
            -1 if min_device is None else min_finish-self.finish_time,
            next_query_deadline - self.finish_time, # next query in
            self.cur_request, # request num
            self.device_id # device number
          ])

          self.finish_time = None
          self.cur_request = None
          self.is_busy = False

In [ ]:
counter = 0 # actions
request = 0 # queries
state = 0 # current state of query system
next_query_deadline = dTz # time when the new query appears
min_finish = np.inf
min_device = None

queue = [] # queries queue # .pop(0)
requests = {} # log of requests
actions = [] # log of actions

zl = []

devices = [Device(i+1) for i in range(n)]
# watcher
while counter < 100:
  min_finish = np.inf
  min_device = None
  free_device = None

  # get device that will end sooner than others
  for device in devices:
    if device.is_busy and device.finish_time < min_finish:
      min_finish = device.finish_time
      min_device = device
    elif not device.is_busy and free_device is None: free_device = device

  # is there any query that fires sooner?
  if next_query_deadline < min_finish:
    request += 1
    if len(zl): zl.append(zl[-1]+1)
    else: zl.append(1)

    if free_device is None:
      # all devices are busy. Add to queue
      counter += 1
      state += 1
      print(f'{next_query_deadline}: Новая заявка {request} встала в очередь, {counter}')
      actions.append([
            counter, #number
            next_query_deadline, # time recieved
            1, # type
            state, # state
            -1 if min_device is None else min_finish-next_query_deadline, #min time left of work
            dTz, # next query in
            request, # request num
            -1 # device number
        ])
      queue.append(request)

      requests[request] = {
          "j": request,
          "tz": next_query_deadline, # appeared
          "q": len(queue), # queue pos
          "tq": -1, # queue time
          "ts": -1, # start of working on request
          "tw": -1, # for how long worked
          "te": -1, # when finished working
          "tk": -1 # who worked on request
      }
    else:
      # At least one device is free
      state += 1
      requests[request] = {
          "j": request,
          "tz": next_query_deadline, # appeared
          "q": 0, # queue pos
          "tq": 0, # queue time
          "ts": next_query_deadline, # start of working on request
          "tw": 0, # for how long worked
          "te": -1, # when finished working
          "tk": free_device.device_id # who worked on request
      }
      free_device.new_request(request)
    next_query_deadline += dTz
  else:
    # Device processes query sooner
    zl.append(zl[-1]-1)
    min_device.process_request()

0.141: Устройство 1 приняло заявку 1, 0
0.282: Устройство 2 приняло заявку 2, 1
0.42299999999999993: Устройство 3 приняло заявку 3, 2
0.564: Устройство 4 приняло заявку 4, 3
0.6453722308105058: Устройство 2 обработало заявку 2, 5
0.705: Устройство 2 приняло заявку 5, 5
0.846: Устройство 5 приняло заявку 6, 6
0.9188247468683807: Устройство 2 обработало заявку 5, 8
0.94714143138899: Устройство 3 обработало заявку 3, 9
0.987: Устройство 2 приняло заявку 7, 9
1.128: Устройство 3 приняло заявку 8, 10
1.269: Устройство 6 приняло заявку 9, 11
1.41: Устройство 7 приняло заявку 10, 12
1.4205382600845: Устройство 1 обработало заявку 1, 14
1.551: Устройство 1 приняло заявку 11, 14
1.5722299035183094: Устройство 2 обработало заявку 7, 16
1.692: Устройство 2 приняло заявку 12, 16
1.756362813101491: Устройство 1 обработало заявку 11, 18
1.833: Устройство 1 приняло заявку 13, 18
1.974: Новая заявка 14 встала в очередь, 20
1.9982742945348089: Устройство 1 обработало заявку 13, 21
1.9982742945348089: Устройство 1 приняло заявку 14, 21
2.0277052829732094: Устройство 6 обработало заявку 9, 22
2.1149999999999998: Устройство 6 приняло заявку 15, 22
2.256: Новая заявка 16 встала в очередь, 24
2.267177206838638: Устройство 7 обработало заявку 10, 25
2.267177206838638: Устройство 7 приняло заявку 16, 25
2.333808214524772: Устройство 5 обработало заявку 6, 26
2.3650877179937204: Устройство 3 обработало заявку 8, 27
2.397: Устройство 3 приняло заявку 17, 27
2.538: Устройство 5 приняло заявку 18, 28
2.5475445480952543: Устройство 1 обработало заявку 14, 30
2.679: Устройство 1 приняло заявку 19, 30
2.82: Новая заявка 20 встала в очередь, 32
2.8669349256235965: Устройство 5 обработало заявку 18, 33
2.8669349256235965: Устройство 5 приняло заявку 20, 33
2.9082058206419914: Устройство 2 обработало заявку 12, 34
2.961: Устройство 2 приняло заявку 21, 34
3.102: Новая заявка 22 встала в очередь, 36
3.108564805268833: Устройство 1 обработало заявку 19, 37
3.108564805268833: Устройство 1 приняло заявку 22, 37
3.1103034967946543: Устройство 5 обработало заявку 20, 38
3.243: Устройство 5 приняло заявку 23, 38
3.3458378302759892: Устройство 6 обработало заявку 15, 40
3.384: Устройство 6 приняло заявку 24, 40
3.525: Новая заявка 25 встала в очередь, 42
3.5606609160680156: Устройство 1 обработало заявку 22, 43
3.5606609160680156: Устройство 1 приняло заявку 25, 43
3.5653761612795662: Устройство 1 обработало заявку 25, 44
3.666: Устройство 1 приняло заявку 26, 44
3.758986304811553: Устройство 6 обработало заявку 24, 46
3.802855152728873: Устройство 5 обработало заявку 23, 47
3.803518779905443: Устройство 3 обработало заявку 17, 48
3.807: Устройство 3 приняло заявку 27, 48
3.8870974834371492: Устройство 2 обработало заявку 21, 50
3.948: Устройство 2 приняло заявку 28, 50
4.0889999999999995: Устройство 5 приняло заявку 29, 51
4.2299999999999995: Устройство 6 приняло заявку 30, 52
4.237830622930463: Устройство 5 обработало заявку 29, 54
4.3709999999999996: Устройство 5 приняло заявку 31, 54
4.512: Новая заявка 32 встала в очередь, 56
4.614492782352869: Устройство 3 обработало заявку 27, 57
4.614492782352869: Устройство 3 приняло заявку 32, 57
4.629121327389781: Устройство 5 обработало заявку 31, 58
4.653: Устройство 5 приняло заявку 33, 58
4.781499495030053: Устройство 5 обработало заявку 33, 60
4.794: Устройство 5 приняло заявку 34, 60
4.91122309281149: Устройство 4 обработало заявку 4, 62
4.935: Устройство 4 приняло заявку 35, 62
5.028904334496581: Устройство 4 обработало заявку 35, 64
5.076: Устройство 4 приняло заявку 36, 64
5.217: Новая заявка 37 встала в очередь, 66
5.270188009122754: Устройство 4 обработало заявку 36, 67
5.270188009122754: Устройство 4 приняло заявку 37, 67
5.358: Новая заявка 38 встала в очередь, 68
5.4336615673947914: Устройство 7 обработало заявку 16, 69
5.4336615673947914: Устройство 7 приняло заявку 38, 69
5.499: Новая заявка 39 встала в очередь, 70
5.64: Новая заявка 40 встала в очередь, 71
5.682713683273845: Устройство 5 обработало заявку 34, 72
5.682713683273845: Устройство 5 приняло заявку 39, 72
5.7237854793642535: Устройство 7 обработало заявку 38, 73
5.7237854793642535: Устройство 7 приняло заявку 40, 73
5.781: Новая заявка 41 встала в очередь, 74
5.922: Новая заявка 42 встала в очередь, 75
6.008685963789124: Устройство 4 обработало заявку 37, 76
6.008685963789124: Устройство 4 приняло заявку 41, 76
6.063: Новая заявка 43 встала в очередь, 77
6.119114307245451: Устройство 1 обработало заявку 26, 78
6.119114307245451: Устройство 1 приняло заявку 42, 78
6.204: Новая заявка 44 встала в очередь, 79
6.222965513117455: Устройство 7 обработало заявку 40, 80
6.222965513117455: Устройство 7 приняло заявку 43, 80
6.345: Новая заявка 45 встала в очередь, 81
6.486: Новая заявка 46 встала в очередь, 82
6.5779746468687925: Устройство 3 обработало заявку 32, 83
6.5779746468687925: Устройство 3 приняло заявку 44, 83
6.59068969588178: Устройство 4 обработало заявку 41, 84
6.59068969588178: Устройство 4 приняло заявку 45, 84
6.627: Новая заявка 47 встала в очередь, 85
6.768: Новая заявка 48 встала в очередь, 86
6.909: Новая заявка 49 встала в очередь, 87
7.0077632657671405: Устройство 4 обработало заявку 45, 88
7.0077632657671405: Устройство 4 приняло заявку 46, 88
7.05: Новая заявка 50 встала в очередь, 89
7.12464117267593: Устройство 4 обработало заявку 46, 90
7.12464117267593: Устройство 4 приняло заявку 47, 90
7.191: Новая заявка 51 встала в очередь, 91
7.332: Новая заявка 52 встала в очередь, 92
7.473: Новая заявка 53 встала в очередь, 93
7.493703918317523: Устройство 5 обработало заявку 39, 94
7.493703918317523: Устройство 5 приняло заявку 48, 94
7.614: Новая заявка 54 встала в очередь, 95
7.616325606785046: Устройство 5 обработало заявку 48, 96
7.616325606785046: Устройство 5 приняло заявку 49, 96
7.687458930521954: Устройство 6 обработало заявку 30, 97
7.687458930521954: Устройство 6 приняло заявку 50, 97
7.725887517661097: Устройство 5 обработало заявку 49, 98
7.725887517661097: Устройство 5 приняло заявку 51, 98
7.755: Новая заявка 55 встала в очередь, 99
7.76278979330478: Устройство 1 обработало заявку 42, 100
7.76278979330478: Устройство 1 приняло заявку 52, 100

In [ ]:
for device in devices:
  device.finish(actions[-1][1])

DEVICE 1 HAS UNFINISHED JOB!
DEVICE 2 HAS UNFINISHED JOB!
DEVICE 3 HAS UNFINISHED JOB!
DEVICE 4 HAS UNFINISHED JOB!
DEVICE 5 HAS UNFINISHED JOB!
DEVICE 6 HAS UNFINISHED JOB!
DEVICE 7 HAS UNFINISHED JOB!

In [ ]:
with open('actions1.pickle', 'wb') as handle:
    pickle.dump(actions, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open('requests1.pickle', 'wb') as handle:
    pickle.dump(requests, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open('devices1.pickle', 'wb') as handle:
    pickle.dump(devices, handle, protocol=pickle.HIGHEST_PROTOCOL)

## Вывод 1

In [ ]:
adf = pd.DataFrame(actions, columns=['ll', 't_соб', 'Type(l)', 'C(l)', 't_остмин', "t_ожз", "j(l)", "k(l)"])
adf['t_соб'] = adf['t_соб'].round(5)
adf['t_остмин'] = adf['t_остмин'].round(5)
adf['t_ожз'] = adf['t_ожз'].round(5)

adf['k(l)'] = adf['k(l)'].astype(int)
adf[:100]

     ll    t_соб  Type(l)  C(l)  t_остмин    t_ожз  j(l)  k(l)
0     1  0.14100        1     1   1.27954  0.14100     1     1
1     2  0.28200        1     2   0.36337  0.14100     2     2
2     3  0.42300        1     3   0.22237  0.14100     3     3
3     4  0.56400        1     4   0.08137  0.14100     4     4
4     5  0.64537        2     3   0.30177  0.05963     2     2
..  ...      ...      ...   ...       ...      ...   ...   ...
95   96  7.61633        2    12   0.07113  0.13867    48     5
96   97  7.68746        2    11   0.03843  0.06754    30     6
97   98  7.72589        2    10   0.03690  0.02911    49     5
98   99  7.75500        1    11   0.00779  0.14100    55    -1
99  100  7.76279        2    10   0.04433  0.13321    42     1

[100 rows x 8 columns]

In [ ]:
# adf = adf.rename(columns=)

In [ ]:
df1, df2, df3, df4 = np.array_split(adf, 4)
tables = [df1, df2, df3, df4]

In [ ]:
def latex_with_lines(df):
    column_format = '|c|c|c|c|c|c|c|c|'
    latex = df.to_latex(index=False, column_format=column_format)

    # Добавляем горизонтальные линии
    latex = latex.replace('\\toprule', '\\hline')

    latex = latex.replace('\\midrule', '')
    latex = latex.replace('\\bottomrule', '')

    latex = latex.replace('\\\\\n', '\\\\ \\hline\n')

    latex = latex.replace("ll", "$\\mathbf{l}$")
    latex = latex.replace("t\_соб", "$\\mathbf{t_\\textbf{соб}}$")
    latex = latex.replace("Type(l)", "$\\mathbf{Type(l)}$")
    latex = latex.replace("C(l)", "$\\mathbf{C(l)}$")
    latex = latex.replace("t\_остмин", "$\\mathbf{t_\\textbf{остмин}}$")
    latex = latex.replace("t\_ожз", "$\\mathbf{t_\\textbf{ожз}}$")
    latex = latex.replace("j(l)", "$\\mathbf{j(l)}$")
    latex = latex.replace("k(l)", "$\\mathbf{k(l)}$")

    return latex

# Используем функцию
latex_tables = [latex_with_lines(df) for df in tables]

<ipython-input-10-a781772d1cc1>:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex = df.to_latex(index=False, column_format=column_format)

In [ ]:
print("\\begin{center} \\scalebox{0.7}{")
print(latex_tables[0])
print("}\\end{center}")

\begin{center} \scalebox{0.7}{
\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 $\mathbf{l}$ &   $\mathbf{t_\textbf{соб}}$ &  $\mathbf{Type(l)}$ &  $\mathbf{C(l)}$ &  $\mathbf{t_\textbf{остмин}}$ &   $\mathbf{t_\textbf{ожз}}$ &  $\mathbf{j(l)}$ &  $\mathbf{k(l)}$ \\ \hline

  1 & 0.14100 &        1 &     1 &   1.27954 & 0.14100 &     1 &     1 \\ \hline
  2 & 0.28200 &        1 &     2 &   0.36337 & 0.14100 &     2 &     2 \\ \hline
  3 & 0.42300 &        1 &     3 &   0.22237 & 0.14100 &     3 &     3 \\ \hline
  4 & 0.56400 &        1 &     4 &   0.08137 & 0.14100 &     4 &     4 \\ \hline
  5 & 0.64537 &        2 &     3 &   0.30177 & 0.05963 &     2 &     2 \\ \hline
  6 & 0.70500 &        1 &     4 &   0.21382 & 0.14100 &     5 &     2 \\ \hline
  7 & 0.84600 &        1 &     5 &   0.07282 & 0.14100 &     6 &     5 \\ \hline
  8 & 0.91882 &        2 &     4 &   0.02832 & 0.06818 &     5 &     2 \\ \hline
  9 & 0.94714 &        2 &     3 &   0.47340 & 0.03986 &     3 &     3 \\ \hline
 10 & 0.98700 &        1 &     4 &   0.43354 & 0.14100 &     7 &     2 \\ \hline
 11 & 1.12800 &        1 &     5 &   0.29254 & 0.14100 &     8 &     3 \\ \hline
 12 & 1.26900 &        1 &     6 &   0.15154 & 0.14100 &     9 &     6 \\ \hline
 13 & 1.41000 &        1 &     7 &   0.01054 & 0.14100 &    10 &     7 \\ \hline
 14 & 1.42054 &        2 &     6 &   0.15169 & 0.13046 &     1 &     1 \\ \hline
 15 & 1.55100 &        1 &     7 &   0.02123 & 0.14100 &    11 &     1 \\ \hline
 16 & 1.57223 &        2 &     6 &   0.18413 & 0.11977 &     7 &     2 \\ \hline
 17 & 1.69200 &        1 &     7 &   0.06436 & 0.14100 &    12 &     2 \\ \hline
 18 & 1.75636 &        2 &     6 &   0.27134 & 0.07664 &    11 &     1 \\ \hline
 19 & 1.83300 &        1 &     7 &   0.16527 & 0.14100 &    13 &     1 \\ \hline
 20 & 1.97400 &        1 &     8 &   0.02427 & 0.14100 &    14 &    -1 \\ \hline
 21 & 1.99827 &        2 &     7 &   0.02943 & 0.11673 &    13 &     1 \\ \hline
 22 & 2.02771 &        2 &     6 &   0.23947 & 0.08729 &     9 &     6 \\ \hline
 23 & 2.11500 &        1 &     7 &   0.15218 & 0.14100 &    15 &     6 \\ \hline
 24 & 2.25600 &        1 &     8 &   0.01118 & 0.14100 &    16 &    -1 \\ \hline
 25 & 2.26718 &        2 &     7 &   0.06663 & 0.12982 &    10 &     7 \\ \hline

\end{tabular}

}\end{center}

In [ ]:
print("\\begin{center} \\scalebox{0.7}{")
print(latex_tables[1])
print("}\\end{center}")

\begin{center} \scalebox{0.7}{
\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 $\mathbf{l}$ &   $\mathbf{t_\textbf{соб}}$ &  $\mathbf{Type(l)}$ &  $\mathbf{C(l)}$ &  $\mathbf{t_\textbf{остмин}}$ &   $\mathbf{t_\textbf{ожз}}$ &  $\mathbf{j(l)}$ &  $\mathbf{k(l)}$ \\ \hline

 26 & 2.33381 &        2 &     6 &   0.03128 & 0.06319 &     6 &     5 \\ \hline
 27 & 2.36509 &        2 &     5 &   0.18246 & 0.03191 &     8 &     3 \\ \hline
 28 & 2.39700 &        1 &     6 &   0.15054 & 0.14100 &    17 &     3 \\ \hline
 29 & 2.53800 &        1 &     7 &   0.00954 & 0.14100 &    18 &     5 \\ \hline
 30 & 2.54754 &        2 &     6 &   0.31939 & 0.13146 &    14 &     1 \\ \hline
 31 & 2.67900 &        1 &     7 &   0.18793 & 0.14100 &    19 &     1 \\ \hline
 32 & 2.82000 &        1 &     8 &   0.04693 & 0.14100 &    20 &    -1 \\ \hline
 33 & 2.86693 &        2 &     7 &   0.04127 & 0.09407 &    18 &     5 \\ \hline
 34 & 2.90821 &        2 &     6 &   0.20036 & 0.05279 &    12 &     2 \\ \hline
 35 & 2.96100 &        1 &     7 &   0.14756 & 0.14100 &    21 &     2 \\ \hline
 36 & 3.10200 &        1 &     8 &   0.00656 & 0.14100 &    22 &    -1 \\ \hline
 37 & 3.10856 &        2 &     7 &   0.00174 & 0.13444 &    19 &     1 \\ \hline
 38 & 3.11030 &        2 &     6 &   0.23553 & 0.13270 &    20 &     5 \\ \hline
 39 & 3.24300 &        1 &     7 &   0.10284 & 0.14100 &    23 &     5 \\ \hline
 40 & 3.34584 &        2 &     6 &   0.21482 & 0.03816 &    15 &     6 \\ \hline
 41 & 3.38400 &        1 &     7 &   0.17666 & 0.14100 &    24 &     6 \\ \hline
 42 & 3.52500 &        1 &     8 &   0.03566 & 0.14100 &    25 &    -1 \\ \hline
 43 & 3.56066 &        2 &     7 &   0.19833 & 0.10534 &    22 &     1 \\ \hline
 44 & 3.56538 &        2 &     6 &   0.19361 & 0.10062 &    25 &     1 \\ \hline
 45 & 3.66600 &        1 &     7 &   0.09299 & 0.14100 &    26 &     1 \\ \hline
 46 & 3.75899 &        2 &     6 &   0.04387 & 0.04801 &    24 &     6 \\ \hline
 47 & 3.80286 &        2 &     5 &   0.00066 & 0.00414 &    23 &     5 \\ \hline
 48 & 3.80352 &        2 &     4 &   0.08358 & 0.00348 &    17 &     3 \\ \hline
 49 & 3.80700 &        1 &     5 &   0.08010 & 0.14100 &    27 &     3 \\ \hline
 50 & 3.88710 &        2 &     4 &   0.72740 & 0.06090 &    21 &     2 \\ \hline

\end{tabular}

}\end{center}

In [ ]:
print("\\begin{center} \\scalebox{0.7}{")
print(latex_tables[2])
print("}\\end{center}")

\begin{center} \scalebox{0.7}{
\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 $\mathbf{l}$ &   $\mathbf{t_\textbf{соб}}$ &  $\mathbf{Type(l)}$ &  $\mathbf{C(l)}$ &  $\mathbf{t_\textbf{остмин}}$ &   $\mathbf{t_\textbf{ожз}}$ &  $\mathbf{j(l)}$ &  $\mathbf{k(l)}$ \\ \hline

 51 & 3.94800 &        1 &     5 &   0.66649 & 0.14100 &    28 &     2 \\ \hline
 52 & 4.08900 &        1 &     6 &   0.14883 & 0.14100 &    29 &     5 \\ \hline
 53 & 4.23000 &        1 &     7 &   0.00783 & 0.14100 &    30 &     6 \\ \hline
 54 & 4.23783 &        2 &     6 &   0.37666 & 0.13317 &    29 &     5 \\ \hline
 55 & 4.37100 &        1 &     7 &   0.24349 & 0.14100 &    31 &     5 \\ \hline
 56 & 4.51200 &        1 &     8 &   0.10249 & 0.14100 &    32 &    -1 \\ \hline
 57 & 4.61449 &        2 &     7 &   0.01463 & 0.03851 &    27 &     3 \\ \hline
 58 & 4.62912 &        2 &     6 &   0.28210 & 0.02388 &    31 &     5 \\ \hline
 59 & 4.65300 &        1 &     7 &   0.12850 & 0.14100 &    33 &     5 \\ \hline
 60 & 4.78150 &        2 &     6 &   0.12972 & 0.01250 &    33 &     5 \\ \hline
 61 & 4.79400 &        1 &     7 &   0.11722 & 0.14100 &    34 &     5 \\ \hline
 62 & 4.91122 &        2 &     6 &   0.52244 & 0.02378 &     4 &     4 \\ \hline
 63 & 4.93500 &        1 &     7 &   0.09390 & 0.14100 &    35 &     4 \\ \hline
 64 & 5.02890 &        2 &     6 &   0.40476 & 0.04710 &    35 &     4 \\ \hline
 65 & 5.07600 &        1 &     7 &   0.19419 & 0.14100 &    36 &     4 \\ \hline
 66 & 5.21700 &        1 &     8 &   0.05319 & 0.14100 &    37 &    -1 \\ \hline
 67 & 5.27019 &        2 &     7 &   0.16347 & 0.08781 &    36 &     4 \\ \hline
 68 & 5.35800 &        1 &     8 &   0.07566 & 0.14100 &    38 &    -1 \\ \hline
 69 & 5.43366 &        2 &     7 &   0.24905 & 0.06534 &    16 &     7 \\ \hline
 70 & 5.49900 &        1 &     8 &   0.18371 & 0.14100 &    39 &    -1 \\ \hline
 71 & 5.64000 &        1 &     9 &   0.04271 & 0.14100 &    40 &    -1 \\ \hline
 72 & 5.68271 &        2 &     8 &   0.04107 & 0.09829 &    34 &     5 \\ \hline
 73 & 5.72379 &        2 &     7 &   0.28490 & 0.05721 &    38 &     7 \\ \hline
 74 & 5.78100 &        1 &     8 &   0.22769 & 0.14100 &    41 &    -1 \\ \hline
 75 & 5.92200 &        1 &     9 &   0.08669 & 0.14100 &    42 &    -1 \\ \hline

\end{tabular}

}\end{center}

In [ ]:
print("\\begin{center} \\scalebox{0.7}{")
print(latex_tables[3])
print("}\\end{center}")

\begin{center} \scalebox{0.7}{
\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 $\mathbf{l}$ &   $\mathbf{t_\textbf{соб}}$ &  $\mathbf{Type(l)}$ &  $\mathbf{C(l)}$ &  $\mathbf{t_\textbf{остмин}}$ &   $\mathbf{t_\textbf{ожз}}$ &  $\mathbf{j(l)}$ &  $\mathbf{k(l)}$ \\ \hline

 76 & 6.00869 &        2 &     8 &   0.11043 & 0.05431 &    37 &     4 \\ \hline
 77 & 6.06300 &        1 &     9 &   0.05611 & 0.14100 &    43 &    -1 \\ \hline
 78 & 6.11911 &        2 &     8 &   0.10385 & 0.08489 &    26 &     1 \\ \hline
 79 & 6.20400 &        1 &     9 &   0.01897 & 0.14100 &    44 &    -1 \\ \hline
 80 & 6.22297 &        2 &     8 &   0.35501 & 0.12203 &    40 &     7 \\ \hline
 81 & 6.34500 &        1 &     9 &   0.23297 & 0.14100 &    45 &    -1 \\ \hline
 82 & 6.48600 &        1 &    10 &   0.09197 & 0.14100 &    46 &    -1 \\ \hline
 83 & 6.57797 &        2 &     9 &   0.01272 & 0.04903 &    32 &     3 \\ \hline
 84 & 6.59069 &        2 &     8 &   0.58200 & 0.03631 &    41 &     4 \\ \hline
 85 & 6.62700 &        1 &     9 &   0.38076 & 0.14100 &    47 &    -1 \\ \hline
 86 & 6.76800 &        1 &    10 &   0.23976 & 0.14100 &    48 &    -1 \\ \hline
 87 & 6.90900 &        1 &    11 &   0.09876 & 0.14100 &    49 &    -1 \\ \hline
 88 & 7.00776 &        2 &    10 &   0.41707 & 0.04224 &    45 &     4 \\ \hline
 89 & 7.05000 &        1 &    11 &   0.07464 & 0.14100 &    50 &    -1 \\ \hline
 90 & 7.12464 &        2 &    10 &   0.11688 & 0.06636 &    46 &     4 \\ \hline
 91 & 7.19100 &        1 &    11 &   0.30270 & 0.14100 &    51 &    -1 \\ \hline
 92 & 7.33200 &        1 &    12 &   0.16170 & 0.14100 &    52 &    -1 \\ \hline
 93 & 7.47300 &        1 &    13 &   0.02070 & 0.14100 &    53 &    -1 \\ \hline
 94 & 7.49370 &        2 &    12 &   0.19376 & 0.12030 &    39 &     5 \\ \hline
 95 & 7.61400 &        1 &    13 &   0.00233 & 0.14100 &    54 &    -1 \\ \hline
 96 & 7.61633 &        2 &    12 &   0.07113 & 0.13867 &    48 &     5 \\ \hline
 97 & 7.68746 &        2 &    11 &   0.03843 & 0.06754 &    30 &     6 \\ \hline
 98 & 7.72589 &        2 &    10 &   0.03690 & 0.02911 &    49 &     5 \\ \hline
 99 & 7.75500 &        1 &    11 &   0.00779 & 0.14100 &    55 &    -1 \\ \hline
100 & 7.76279 &        2 &    10 &   0.04433 & 0.13321 &    42 &     1 \\ \hline

\end{tabular}

}\end{center}

## Вывод 2

In [ ]:
rdf = pd.DataFrame.from_dict(requests).transpose()
rdf['j'] = rdf['j'].astype(int)

rdf['tw'] = rdf['tw'].round(5)
rdf['te'] = rdf['te'].round(5)
rdf['tq'] = rdf['tq'].round(5)
rdf['ts'] = rdf['ts'].round(5)

rdf['q'] = rdf['q'].astype(int)
rdf['tk'] = rdf['tk'].astype(int)
rdf

     j     tz  q       tq       ts       tw       te  tk
1    1  0.141  0  0.00000  0.14100  1.27954  1.42054   1
2    2  0.282  0  0.00000  0.28200  0.36337  0.64537   2
3    3  0.423  0  0.00000  0.42300  0.52414  0.94714   3
4    4  0.564  0  0.00000  0.56400  4.34722  4.91122   4
5    5  0.705  0  0.00000  0.70500  0.21382  0.91882   2
6    6  0.846  0  0.00000  0.84600  1.48781  2.33381   5
7    7  0.987  0  0.00000  0.98700  0.58523  1.57223   2
8    8  1.128  0  0.00000  1.12800  1.23709  2.36509   3
9    9  1.269  0  0.00000  1.26900  0.75871  2.02771   6
10  10  1.410  0  0.00000  1.41000  0.85718  2.26718   7
11  11  1.551  0  0.00000  1.55100  0.20536  1.75636   1
12  12  1.692  0  0.00000  1.69200  1.21621  2.90821   2
13  13  1.833  0  0.00000  1.83300  0.16527  1.99827   1
14  14  1.974  1  0.02427  1.99827  0.54927  2.54754   1
15  15  2.115  0  0.00000  2.11500  1.23084  3.34584   6
16  16  2.256  1  0.01118  2.26718  3.16648  5.43366   7
17  17  2.397  0  0.00000  2.39700  1.40652  3.80352   3
18  18  2.538  0  0.00000  2.53800  0.32893  2.86693   5
19  19  2.679  0  0.00000  2.67900  0.42956  3.10856   1
20  20  2.820  1  0.04693  2.86693  0.24337  3.11030   5
21  21  2.961  0  0.00000  2.96100  0.92610  3.88710   2
22  22  3.102  1  0.00656  3.10856  0.45210  3.56066   1
23  23  3.243  0  0.00000  3.24300  0.55986  3.80286   5
24  24  3.384  0  0.00000  3.38400  0.37499  3.75899   6
25  25  3.525  1  0.03566  3.56066  0.00472  3.56538   1
26  26  3.666  0  0.00000  3.66600  2.45311  6.11911   1
27  27  3.807  0  0.00000  3.80700  0.80749  4.61449   3
28  28  3.948  0  0.00000  3.94800  4.15710  8.10510   2
29  29  4.089  0  0.00000  4.08900  0.14883  4.23783   5
30  30  4.230  0  0.00000  4.23000  3.45746  7.68746   6
31  31  4.371  0  0.00000  4.37100  0.25812  4.62912   5
32  32  4.512  1  0.10249  4.61449  1.96348  6.57797   3
33  33  4.653  0  0.00000  4.65300  0.12850  4.78150   5
34  34  4.794  0  0.00000  4.79400  0.88871  5.68271   5
35  35  4.935  0  0.00000  4.93500  0.09390  5.02890   4
36  36  5.076  0  0.00000  5.07600  0.19419  5.27019   4
37  37  5.217  1  0.05319  5.27019  0.73850  6.00869   4
38  38  5.358  1  0.07566  5.43366  0.29012  5.72379   7
39  39  5.499  1  0.18371  5.68271  1.81099  7.49370   5
40  40  5.640  2  0.08379  5.72379  0.49918  6.22297   7
41  41  5.781  1  0.22769  6.00869  0.58200  6.59069   4
42  42  5.922  2  0.19711  6.11911  1.64368  7.76279   1
43  43  6.063  2  0.15997  6.22297  1.58415  7.80712   7
44  44  6.204  2  0.37397  6.57797  1.26549  7.84346   3
45  45  6.345  2  0.24569  6.59069  0.41707  7.00776   4
46  46  6.486  3  0.52176  7.00776  0.11688  7.12464   4
47  47  6.627  2  0.49764  7.12464  2.31840  9.44304   4
48  48  6.768  3  0.72570  7.49370  0.12262  7.61633   5
49  49  6.909  4  0.70733  7.61633  0.10956  7.72589   5
50  50  7.050  4  0.63746  7.68746  0.80091  8.48837   6
51  51  7.191  4  0.53489  7.72589  1.07465  8.80053   5
52  52  7.332  5  0.43079  7.76279  0.62731  8.39010   1
53  53  7.473  6 -1.00000 -1.00000 -1.00000 -1.00000  -1
54  54  7.614  6 -1.00000 -1.00000 -1.00000 -1.00000  -1
55  55  7.755  4 -1.00000 -1.00000 -1.00000 -1.00000  -1

In [ ]:
df1, df2, df3 = rdf[:25], rdf[25:50], rdf[50:]
tables = [df1, df2, df3]

In [ ]:
def latex_with_lines(df):
    column_format = '|c|c|c|c|c|c|c|c|'
    latex = df.to_latex(index=False, column_format=column_format)

    # Добавляем горизонтальные линии
    latex = latex.replace('\\toprule', '\\hline')

    latex = latex.replace('\\midrule', '')
    latex = latex.replace('\\bottomrule', '')

    latex = latex.replace('\\\\\n', '\\\\ \\hline\n')

    return latex

# Используем функцию
latex_tables = [latex_with_lines(df) for df in tables]

<ipython-input-17-7c7b5d23a51f>:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex = df.to_latex(index=False, column_format=column_format)

In [ ]:
print(latex_tables[0])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 j &    tz &  q &      tq &      ts &      tw &      te &  tk \\ \hline

 1 & 0.141 &  0 & 0.00000 & 0.14100 & 1.27954 & 1.42054 &   1 \\ \hline
 2 & 0.282 &  0 & 0.00000 & 0.28200 & 0.36337 & 0.64537 &   2 \\ \hline
 3 & 0.423 &  0 & 0.00000 & 0.42300 & 0.52414 & 0.94714 &   3 \\ \hline
 4 & 0.564 &  0 & 0.00000 & 0.56400 & 4.34722 & 4.91122 &   4 \\ \hline
 5 & 0.705 &  0 & 0.00000 & 0.70500 & 0.21382 & 0.91882 &   2 \\ \hline
 6 & 0.846 &  0 & 0.00000 & 0.84600 & 1.48781 & 2.33381 &   5 \\ \hline
 7 & 0.987 &  0 & 0.00000 & 0.98700 & 0.58523 & 1.57223 &   2 \\ \hline
 8 & 1.128 &  0 & 0.00000 & 1.12800 & 1.23709 & 2.36509 &   3 \\ \hline
 9 & 1.269 &  0 & 0.00000 & 1.26900 & 0.75871 & 2.02771 &   6 \\ \hline
10 & 1.410 &  0 & 0.00000 & 1.41000 & 0.85718 & 2.26718 &   7 \\ \hline
11 & 1.551 &  0 & 0.00000 & 1.55100 & 0.20536 & 1.75636 &   1 \\ \hline
12 & 1.692 &  0 & 0.00000 & 1.69200 & 1.21621 & 2.90821 &   2 \\ \hline
13 & 1.833 &  0 & 0.00000 & 1.83300 & 0.16527 & 1.99827 &   1 \\ \hline
14 & 1.974 &  1 & 0.02427 & 1.99827 & 0.54927 & 2.54754 &   1 \\ \hline
15 & 2.115 &  0 & 0.00000 & 2.11500 & 1.23084 & 3.34584 &   6 \\ \hline
16 & 2.256 &  1 & 0.01118 & 2.26718 & 3.16648 & 5.43366 &   7 \\ \hline
17 & 2.397 &  0 & 0.00000 & 2.39700 & 1.40652 & 3.80352 &   3 \\ \hline
18 & 2.538 &  0 & 0.00000 & 2.53800 & 0.32893 & 2.86693 &   5 \\ \hline
19 & 2.679 &  0 & 0.00000 & 2.67900 & 0.42956 & 3.10856 &   1 \\ \hline
20 & 2.820 &  1 & 0.04693 & 2.86693 & 0.24337 & 3.11030 &   5 \\ \hline
21 & 2.961 &  0 & 0.00000 & 2.96100 & 0.92610 & 3.88710 &   2 \\ \hline
22 & 3.102 &  1 & 0.00656 & 3.10856 & 0.45210 & 3.56066 &   1 \\ \hline
23 & 3.243 &  0 & 0.00000 & 3.24300 & 0.55986 & 3.80286 &   5 \\ \hline
24 & 3.384 &  0 & 0.00000 & 3.38400 & 0.37499 & 3.75899 &   6 \\ \hline
25 & 3.525 &  1 & 0.03566 & 3.56066 & 0.00472 & 3.56538 &   1 \\ \hline

\end{tabular}

In [ ]:
print(latex_tables[1])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 j &    tz &  q &      tq &      ts &      tw &      te &  tk \\ \hline

26 & 3.666 &  0 & 0.00000 & 3.66600 & 2.45311 & 6.11911 &   1 \\ \hline
27 & 3.807 &  0 & 0.00000 & 3.80700 & 0.80749 & 4.61449 &   3 \\ \hline
28 & 3.948 &  0 & 0.00000 & 3.94800 & 4.15710 & 8.10510 &   2 \\ \hline
29 & 4.089 &  0 & 0.00000 & 4.08900 & 0.14883 & 4.23783 &   5 \\ \hline
30 & 4.230 &  0 & 0.00000 & 4.23000 & 3.45746 & 7.68746 &   6 \\ \hline
31 & 4.371 &  0 & 0.00000 & 4.37100 & 0.25812 & 4.62912 &   5 \\ \hline
32 & 4.512 &  1 & 0.10249 & 4.61449 & 1.96348 & 6.57797 &   3 \\ \hline
33 & 4.653 &  0 & 0.00000 & 4.65300 & 0.12850 & 4.78150 &   5 \\ \hline
34 & 4.794 &  0 & 0.00000 & 4.79400 & 0.88871 & 5.68271 &   5 \\ \hline
35 & 4.935 &  0 & 0.00000 & 4.93500 & 0.09390 & 5.02890 &   4 \\ \hline
36 & 5.076 &  0 & 0.00000 & 5.07600 & 0.19419 & 5.27019 &   4 \\ \hline
37 & 5.217 &  1 & 0.05319 & 5.27019 & 0.73850 & 6.00869 &   4 \\ \hline
38 & 5.358 &  1 & 0.07566 & 5.43366 & 0.29012 & 5.72379 &   7 \\ \hline
39 & 5.499 &  1 & 0.18371 & 5.68271 & 1.81099 & 7.49370 &   5 \\ \hline
40 & 5.640 &  2 & 0.08379 & 5.72379 & 0.49918 & 6.22297 &   7 \\ \hline
41 & 5.781 &  1 & 0.22769 & 6.00869 & 0.58200 & 6.59069 &   4 \\ \hline
42 & 5.922 &  2 & 0.19711 & 6.11911 & 1.64368 & 7.76279 &   1 \\ \hline
43 & 6.063 &  2 & 0.15997 & 6.22297 & 1.58415 & 7.80712 &   7 \\ \hline
44 & 6.204 &  2 & 0.37397 & 6.57797 & 1.26549 & 7.84346 &   3 \\ \hline
45 & 6.345 &  2 & 0.24569 & 6.59069 & 0.41707 & 7.00776 &   4 \\ \hline
46 & 6.486 &  3 & 0.52176 & 7.00776 & 0.11688 & 7.12464 &   4 \\ \hline
47 & 6.627 &  2 & 0.49764 & 7.12464 & 2.31840 & 9.44304 &   4 \\ \hline
48 & 6.768 &  3 & 0.72570 & 7.49370 & 0.12262 & 7.61633 &   5 \\ \hline
49 & 6.909 &  4 & 0.70733 & 7.61633 & 0.10956 & 7.72589 &   5 \\ \hline
50 & 7.050 &  4 & 0.63746 & 7.68746 & 0.80091 & 8.48837 &   6 \\ \hline

\end{tabular}

In [ ]:
print(latex_tables[2])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 j &    tz &  q &       tq &       ts &       tw &       te &  tk \\ \hline

51 & 7.191 &  4 &  0.53489 &  7.72589 &  1.07465 &  8.80053 &   5 \\ \hline
52 & 7.332 &  5 &  0.43079 &  7.76279 &  0.62731 &  8.39010 &   1 \\ \hline
53 & 7.473 &  6 & -1.00000 & -1.00000 & -1.00000 & -1.00000 &  -1 \\ \hline
54 & 7.614 &  6 & -1.00000 & -1.00000 & -1.00000 & -1.00000 &  -1 \\ \hline
55 & 7.755 &  4 & -1.00000 & -1.00000 & -1.00000 & -1.00000 &  -1 \\ \hline

\end{tabular}

## Вывод 3

In [ ]:
final_t = adf["t_соб"][99]
final_t

7.76279

In [ ]:
ddf = pd.DataFrame([[device.device_id, device.processed, device.was_busy, final_t-device.was_busy, (final_t-device.was_busy)/final_t] for device in devices],
                   columns=['k', 'N(k)', 't_зан', 't_np', "Delta"])
ddf.loc[len(ddf.index)] = [None, sum(ddf["N(k)"]), sum(ddf["N(k)"])/n,  sum(ddf["t_np"])/n,  sum(ddf["Delta"])/n]

ddf['k'] = ddf['k'].astype('Int64')
ddf['N(k)'] = ddf['N(k)'].astype(int)
ddf['t_зан'] = ddf['t_зан'].round(5)
ddf['t_np'] = ddf['t_np'].round(5)
ddf['Delta'] = ddf['Delta'].round(5)

ddf

      k  N(k)    t_зан     t_np    Delta
0     1    10  7.18261  0.58018  0.07474
1     2     6  7.11952  0.64327  0.08287
2     3     6  7.12354  0.63925  0.08235
3     4     8  7.12792  0.63487  0.08178
4     5    12  6.12421  1.63858  0.21108
5     6     5  5.89732  1.86547  0.24031
6     7     5  6.35279  1.41000  0.18164
7  <NA>    52  7.42857  1.05880  0.13639

In [ ]:
def latex_with_lines(df):
    column_format = '|c|c|c|c|c|'
    latex = df.to_latex(index=False, column_format=column_format)

    # Добавляем горизонтальные линии
    latex = latex.replace('\\toprule', '\\hline')

    latex = latex.replace('\\midrule', '')
    latex = latex.replace('\\bottomrule', '')

    latex = latex.replace('\\\\\n', '\\\\ \\hline\n')
    latex = latex.replace('<NA>', ' ')

    return latex

# Используем функцию
latex_table = latex_with_lines(ddf)

<ipython-input-23-24eb57417011>:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex = df.to_latex(index=False, column_format=column_format)

In [ ]:
print(latex_table)

\begin{tabular}{|c|c|c|c|c|}
\hline
   k &  N(k) &   t\_зан &    t\_np &   Delta \\ \hline

   1 &    10 & 7.18261 & 0.58018 & 0.07474 \\ \hline
   2 &     6 & 7.11952 & 0.64327 & 0.08287 \\ \hline
   3 &     6 & 7.12354 & 0.63925 & 0.08235 \\ \hline
   4 &     8 & 7.12792 & 0.63487 & 0.08178 \\ \hline
   5 &    12 & 6.12421 & 1.63858 & 0.21108 \\ \hline
   6 &     5 & 5.89732 & 1.86547 & 0.24031 \\ \hline
   7 &     5 & 6.35279 & 1.41000 & 0.18164 \\ \hline
  &    52 & 7.42857 & 1.05880 & 0.13639 \\ \hline

\end{tabular}

## Вывод 4

In [ ]:
adf['C(l)'].value_counts().sort_index().index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')

In [ ]:
R = adf['C(l)'].value_counts().sort_index().values
if adf['C(l)'].value_counts().sort_index().index[0] != 0:
  R = np.insert(R, 0, 0)
R

array([ 0,  1,  1,  3,  6,  6, 19, 26, 15,  7,  6,  5,  3,  2])

In [ ]:
sum([r/100 for r in R])

1.0000000000000002

In [ ]:
s = final_t

T = [0]*(len(R))
D = [0]*len(R)
cur_state = 0
last_time = 0

for e in actions:
  _st = e[3]
  if _st != cur_state:
    # print(_st, e[1])
    T[cur_state] += e[1] - last_time
    last_time, cur_state = e[1], e[3]

for i in range(len(T)):
  D[i] = T[i]/s
print(T)
print(s, D, sum(D))

[0.141, 0.141, 0.14099999999999996, 0.2404863378005042, 0.45607265198852287, 0.4674981394883786, 1.6084653619629323, 2.0047375221910997, 0.976570823260906, 0.49919451643886337, 0.37068269076462457, 0.360622818886994, 0.3324294054193846, 0.023029525102569615]
7.76279 [0.018163572633035287, 0.018163572633035287, 0.018163572633035283, 0.03097936924746183, 0.05875112581797561, 0.06022295327947537, 0.20720196758677387, 0.2582496141453137, 0.125801525387252, 0.06430606991028527, 0.047751219698668204, 0.04645531038286415, 0.042823444331146994, 0.0029666556872683164] 0.9999999733735913

In [ ]:
states = np.array(adf['C(l)'].value_counts().sort_index().index)
if states[0] != 0:
  states = np.insert(states, 0, 0)
states

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])

In [ ]:
sdf = pd.DataFrame({
    'Состояние': states,
    'R': R
})
sdf['v'] = sdf["R"]/100
sdf['T'] = T
sdf['Delta'] = D

sdf.loc[len(sdf.index)] = [None, sum(sdf["R"]),  sum(sdf["v"]), sum(sdf["T"]), sum(sdf["Delta"])]

sdf['Состояние'] = sdf['Состояние'].astype("Int64")
sdf['R'] = sdf['R'].astype(int)
sdf['T'] = sdf['T'].round(5)
sdf['Delta'] = sdf['Delta'].round(5)

sdf

    Состояние    R     v        T    Delta
0           0    0  0.00  0.14100  0.01816
1           1    1  0.01  0.14100  0.01816
2           2    1  0.01  0.14100  0.01816
3           3    3  0.03  0.24049  0.03098
4           4    6  0.06  0.45607  0.05875
5           5    6  0.06  0.46750  0.06022
6           6   19  0.19  1.60847  0.20720
7           7   26  0.26  2.00474  0.25825
8           8   15  0.15  0.97657  0.12580
9           9    7  0.07  0.49919  0.06431
10         10    6  0.06  0.37068  0.04775
11         11    5  0.05  0.36062  0.04646
12         12    3  0.03  0.33243  0.04282
13         13    2  0.02  0.02303  0.00297
14       <NA>  100  1.00  7.76279  1.00000

In [ ]:
def latex_with_lines(df):
    column_format = '|c|c|c|c|c|c|c|c|'
    latex = df.to_latex(index=False, column_format=column_format)

    # Добавляем горизонтальные линии
    latex = latex.replace('\\toprule', '\\hline')

    latex = latex.replace('\\midrule', '')
    latex = latex.replace('\\bottomrule', '')

    latex = latex.replace('\\\\\n', '\\\\ \\hline\n')

    latex = latex.replace('<NA>', ' ')

    return latex

# Используем функцию
tables = [sdf[:25], sdf[25:]]
latex_tables = [latex_with_lines(df) for df in tables]

<ipython-input-31-e048387fbaa6>:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex = df.to_latex(index=False, column_format=column_format)

!!!! ПРОВЕРЬ КОЛ-ВО СОСТОЯНИЙ ПРЕЖДЕ ЧЕМ РЕЗАТЬ ИСХОДНУЮ ТАБЛИЦУ

In [ ]:
print(latex_tables[0])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 Состояние &   R &    v &       T &   Delta \\ \hline

         0 &   0 & 0.00 & 0.14100 & 0.01816 \\ \hline
         1 &   1 & 0.01 & 0.14100 & 0.01816 \\ \hline
         2 &   1 & 0.01 & 0.14100 & 0.01816 \\ \hline
         3 &   3 & 0.03 & 0.24049 & 0.03098 \\ \hline
         4 &   6 & 0.06 & 0.45607 & 0.05875 \\ \hline
         5 &   6 & 0.06 & 0.46750 & 0.06022 \\ \hline
         6 &  19 & 0.19 & 1.60847 & 0.20720 \\ \hline
         7 &  26 & 0.26 & 2.00474 & 0.25825 \\ \hline
         8 &  15 & 0.15 & 0.97657 & 0.12580 \\ \hline
         9 &   7 & 0.07 & 0.49919 & 0.06431 \\ \hline
        10 &   6 & 0.06 & 0.37068 & 0.04775 \\ \hline
        11 &   5 & 0.05 & 0.36062 & 0.04646 \\ \hline
        12 &   3 & 0.03 & 0.33243 & 0.04282 \\ \hline
        13 &   2 & 0.02 & 0.02303 & 0.00297 \\ \hline
        & 100 & 1.00 & 7.76279 & 1.00000 \\ \hline

\end{tabular}

In [ ]:
print(latex_tables[1])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
Empty DataFrame
Columns: Index(['Состояние', 'R', 'v', 'T', 'Delta'], dtype='object')
Index: Int64Index([], dtype='int64') \\ \hline

\end{tabular}

## Вывод 5

In [ ]:
print(len(rdf)) #число заявок

55

In [ ]:
rdf[(rdf["te"] > adf["t_соб"][99])] # Эти заявки не завершились на последнем событии или стоят в очереди

     j     tz  q       tq       ts       tw       te  tk
28  28  3.948  0  0.00000  3.94800  4.15710  8.10510   2
43  43  6.063  2  0.15997  6.22297  1.58415  7.80712   7
44  44  6.204  2  0.37397  6.57797  1.26549  7.84346   3
47  47  6.627  2  0.49764  7.12464  2.31840  9.44304   4
50  50  7.050  4  0.63746  7.68746  0.80091  8.48837   6
51  51  7.191  4  0.53489  7.72589  1.07465  8.80053   5
52  52  7.332  5  0.43079  7.76279  0.62731  8.39010   1

In [ ]:
obsl = len(rdf[(rdf["tk"] != -1) & (rdf["te"] <= adf["t_соб"][99])]) # Обработанные заявки
obsl

45

In [ ]:
sum(zl)/100 # среднее число заявок

7.22

In [ ]:
rdf["tq"][rdf["tq"] >= 0].sum()/obsl # среднее пребывание в очереди

0.1307431111111111

In [ ]:
n

7

In [ ]:
(rdf["te"][rdf["tq"] >= 0] - rdf["tz"][rdf["tq"] >= 0]).sum()/obsl # среднее пребывание в СМО

1.2744342222222225

Теорчасть

# Система массового обслуживания (M|M|n)

In [ ]:
class Device:
    def __init__(self, device_id):
        self.device_id = device_id
        self.is_busy = False
        self.finish_time = None
        self.cur_request = None
        self.processing_time = None
        self.processed = 0
        self.was_busy = 0


    def finish(self, time):
      global requests
      if not self.is_busy: return
      print(f"DEVICE {self.device_id} HAS UNFINISHED JOB!")
      self.was_busy += time - requests[self.cur_request]["ts"]


    def new_request(self, request, write=True, override=False):
        global counter
        global actions
        global requests
        global state
        global left_time
        global next_query_deadline
        global next_next
        global min_finish
        self.is_busy = True
        self.processed += 1

        time = next_query_deadline if not override else override

        # Записать время и событие принятия заявки
        print(f'{time}: Устройство {self.device_id} приняло заявку {request}, {counter}')

        processing_time = np.random.exponential(1/mu)
        self.processing_time = processing_time
        if write:
          counter += 1
          actions.append([
            counter, #number
            time, # time recieved
            1, # type
            state, # state
            processing_time if processing_time < min_finish-time else min_finish-time, #min time left of work
            next_next, # next query in
            request, # request num
            self.device_id # device number
          ])

        self.finish_time = time + processing_time
        self.cur_request = request

        requests[request].update({
          "tq": time - requests[request]["tz"], # queue time
          "ts": time,
          "tw": self.processing_time, # for how long worked
          "te": self.finish_time, # when finished working
          "tk": self.device_id # who worked on request
        })


    def process_request(self):
        global counter
        global actions
        global state
        global left_time
        global next_query_deadline
        global min_device
        global devices
        global queue

        min_finish = np.inf
        min_device = None
        free_device = None

        for device in devices:
          if device.is_busy and device.finish_time < min_finish and device.device_id != self.device_id:
            min_finish = device.finish_time
            min_device = device
          elif not device.is_busy and free_device is None and device.device_id != self.device_id: free_device = device

        # Записать время и событие завершения обработки
        counter += 1
        state -= 1
        self.was_busy += self.processing_time

        print(f'{self.finish_time}: Устройство {self.device_id} обработало заявку {self.cur_request}, {counter}')

        requests[self.cur_request].update({
          "tw": self.processing_time, # for how long worked
          "te": self.finish_time, # when finished working
        })

        # requests[self.cur_request].update({
        # })

        # есть ли новые заявки в очереди, добавить новый реквест
        if len(queue) != 0 and counter <= 100:
            self.processed += 1
            actions.append([
              counter, #number
              self.finish_time, # time recieved
              2, # type
              state, # state
              self.processing_time if self.processing_time < min_finish-self.finish_time else min_finish-self.finish_time, #min time left of work
              next_query_deadline - self.finish_time, # next query in
              self.cur_request, # request num
              self.device_id # device number
            ])

            request = queue.pop(0)
            time = self.finish_time

            # Записать время и событие принятия заявки
            print(f'{time}: Устройство {self.device_id} приняло заявку {request}, {counter}')

            processing_time = np.random.exponential(1/mu)
            self.processing_time = processing_time

            self.finish_time = time + processing_time
            self.cur_request = request

            requests[request].update({
              "tq": time - requests[request]["tz"], # queue time
              "ts": time,
              "tw": self.processing_time, # for how long worked
              "te": self.finish_time, # when finished working
              "tk": self.device_id # who worked on request
            })
        elif counter <= 100:
          # print(len(queue))
          actions.append([
            counter, #number
            self.finish_time, # time recieved
            2, # type
            state, # state
            -1 if min_device is None else min_finish-self.finish_time,
            next_query_deadline - self.finish_time, # next query in
            self.cur_request, # request num
            self.device_id # device number
          ])
          self.finish_time = None
          self.cur_request = None
          self.is_busy = False

In [ ]:
counter = 0 # actions
request = 0 # queries
state = 0 # current state of query system
next_query_deadline = np.random.exponential(1/lam) # time when the new query appears
next_next =  np.random.exponential(1/lam)

queue = [] # queries queue # .pop(0)
requests = {} # log of requests
actions = [] # log of actions

zl = []

devices = [Device(i+1) for i in range(n)]
# watcher
while counter < 100:
  min_finish = np.inf
  min_device = None
  free_device = None

  # get device that will end sooner than others
  for device in devices:
    if device.is_busy and device.finish_time < min_finish:
      min_finish = device.finish_time
      min_device = device
    elif not device.is_busy and free_device is None: free_device = device

  # is there any query that fires sooner?
  if next_query_deadline < min_finish:
    request += 1
    if len(zl): zl.append(zl[-1]+1)
    else: zl.append(1)

    if free_device is None:
      # all devices are busy. Add to queue
      counter += 1
      state += 1
      print(f'{next_query_deadline}: Новая заявка {request} встала в очередь, {counter}')
      actions.append([
            counter, #number
            next_query_deadline, # time recieved
            1, # type
            state, # state
            -1 if min_device is None else min_finish-next_query_deadline, #min time left of work
            next_next, # next query in
            request, # request num
            -1 # device number
        ])
      queue.append(request)

      requests[request] = {
          "j": request,
          "tz": next_query_deadline, # appeared
          "q": len(queue), # queue pos
          "tq": -1, # queue time
          "ts": -1, # start of working on request
          "tw": -1, # for how long worked
          "te": -1, # when finished working
          "tk": -1 # who worked on request
      }
    else:
      # At least one device is free
      state += 1
      requests[request] = {
          "j": request,
          "tz": next_query_deadline, # appeared
          "q": 0, # queue pos
          "tq": 0, # queue time
          "ts": next_query_deadline, # start of working on request
          "tw": 0, # for how long worked
          "te": -1, # when finished working
          "tk": free_device.device_id # who worked on request
      }
      free_device.new_request(request)
    next_query_deadline +=  next_next
    next_next = np.random.exponential(1/lam)
  else:
    # Device processes query sooner
    zl.append(zl[-1]-1)
    min_device.process_request()

0.09702883545326361: Устройство 1 приняло заявку 1, 0
0.2348466727106835: Устройство 2 приняло заявку 2, 1
0.24117763058420835: Устройство 3 приняло заявку 3, 2
0.27876406903749923: Устройство 4 приняло заявку 4, 3
0.31344117848421543: Устройство 1 обработало заявку 1, 5
0.34868575260934626: Устройство 1 приняло заявку 5, 5
0.3700371660770373: Устройство 5 приняло заявку 6, 6
0.4407421309972932: Устройство 6 приняло заявку 7, 7
0.6220257698767097: Устройство 7 приняло заявку 8, 8
0.6314616451518194: Устройство 3 обработало заявку 3, 10
0.7633199974873968: Устройство 6 обработало заявку 7, 11
0.847872060108768: Устройство 2 обработало заявку 2, 12
0.8698117821101901: Устройство 4 обработало заявку 4, 13
0.9128289490199026: Устройство 1 обработало заявку 5, 14
1.0294614489659983: Устройство 1 приняло заявку 9, 14
1.4207546690087698: Устройство 2 приняло заявку 10, 15
1.470609467398337: Устройство 7 обработало заявку 8, 17
1.4937616556830595: Устройство 3 приняло заявку 11, 17
1.5047068171021754: Устройство 4 приняло заявку 12, 18
1.607515550651518: Устройство 6 приняло заявку 13, 19
1.8026088023419253: Устройство 2 обработало заявку 10, 21
1.8046761323043685: Устройство 2 приняло заявку 14, 21
1.9921912091585574: Устройство 7 приняло заявку 15, 22
2.0617099626156463: Устройство 1 обработало заявку 9, 24
2.062812347126816: Устройство 1 приняло заявку 16, 24
2.081179769856308: Устройство 5 обработало заявку 6, 26
2.1036580013471657: Устройство 5 приняло заявку 17, 26
2.1436405386565003: Устройство 4 обработало заявку 12, 28
2.2221474300781185: Устройство 4 приняло заявку 18, 28
2.3218081950999703: Устройство 1 обработало заявку 16, 30
2.390293381847308: Устройство 1 приняло заявку 19, 30
2.5391058827003232: Устройство 1 обработало заявку 19, 32
2.552690082569526: Устройство 5 обработало заявку 17, 33
2.6590416995292676: Устройство 6 обработало заявку 13, 34
2.805266875721188: Устройство 7 обработало заявку 15, 35
2.8767785946492705: Устройство 1 приняло заявку 20, 35
2.954869624712837: Устройство 5 приняло заявку 21, 36
2.9689056707758663: Устройство 2 обработало заявку 14, 38
2.997591581429166: Устройство 2 приняло заявку 22, 38
2.9997498066713453: Устройство 6 приняло заявку 23, 39
3.030538181450582: Устройство 7 приняло заявку 24, 40
3.050269497650137: Новая заявка 25 встала в очередь, 42
3.2491996233656772: Устройство 2 обработало заявку 22, 43
3.2491996233656772: Устройство 2 приняло заявку 25, 43
3.2755250364889044: Устройство 1 обработало заявку 20, 44
3.425459940858521: Устройство 7 обработало заявку 24, 45
3.4286143110920886: Устройство 3 обработало заявку 11, 46
3.5397016519685836: Устройство 5 обработало заявку 21, 47
3.765721904279985: Устройство 1 приняло заявку 26, 47
3.8382580137171383: Устройство 4 обработало заявку 18, 49
3.9905245273561523: Устройство 3 приняло заявку 27, 49
3.9961467397279886: Устройство 4 приняло заявку 28, 50
4.011863726779077: Устройство 5 приняло заявку 29, 51
4.023618170694723: Устройство 4 обработало заявку 28, 53
4.091942553458772: Устройство 2 обработало заявку 25, 54
4.118127381964161: Устройство 2 приняло заявку 30, 54
4.130496690464546: Устройство 3 обработало заявку 27, 56
4.154885036044264: Устройство 6 обработало заявку 23, 57
4.175573629236399: Устройство 3 приняло заявку 31, 57
4.257098694215981: Устройство 4 приняло заявку 32, 58
4.30922923374097: Устройство 6 приняло заявку 33, 59
4.316300426962464: Устройство 7 приняло заявку 34, 60
4.368545744716341: Устройство 1 обработало заявку 26, 62
4.373032749590212: Устройство 2 обработало заявку 30, 63
4.395742480606727: Устройство 6 обработало заявку 33, 64
4.483825956017512: Устройство 4 обработало заявку 32, 65
4.613755547069289: Устройство 1 приняло заявку 35, 65
4.718762578608186: Устройство 3 обработало заявку 31, 67
4.741688036688505: Устройство 5 обработало заявку 29, 68
4.7736671850715515: Устройство 2 приняло заявку 36, 68
4.794420203346694: Устройство 2 обработало заявку 36, 70
4.814368745190818: Устройство 1 обработало заявку 35, 71
4.819587765085365: Устройство 1 приняло заявку 37, 71
5.004785636953287: Устройство 2 приняло заявку 38, 72
5.01137893712119: Устройство 3 приняло заявку 39, 73
5.054122409036849: Устройство 4 приняло заявку 40, 74
5.158418177319415: Устройство 3 обработало заявку 39, 76
5.41155672910272: Устройство 3 приняло заявку 41, 76
5.713075054927817: Устройство 5 приняло заявку 42, 77
5.762927998403731: Устройство 7 обработало заявку 34, 79
5.9082673985428436: Устройство 6 приняло заявку 43, 79
5.923721832169303: Устройство 1 обработало заявку 37, 81
5.932266384391511: Устройство 3 обработало заявку 41, 82
5.944826916439139: Устройство 1 приняло заявку 44, 82
5.977457685630995: Устройство 2 обработало заявку 38, 84
6.085624680748223: Устройство 1 обработало заявку 44, 85
6.1180575709610885: Устройство 6 обработало заявку 43, 86
6.641988781217127: Устройство 4 обработало заявку 40, 87
7.040545043858311: Устройство 5 обработало заявку 42, 88
7.100374302277423: Устройство 1 приняло заявку 45, 88
7.102399126165161: Устройство 2 приняло заявку 46, 89
7.103887505555745: Устройство 2 обработало заявку 46, 91
7.1420670284555445: Устройство 2 приняло заявку 47, 91
7.303049725339989: Устройство 2 обработало заявку 47, 93
7.5433143803109255: Устройство 2 приняло заявку 48, 93
7.935651096861879: Устройство 3 приняло заявку 49, 94
8.073925392970573: Устройство 4 приняло заявку 50, 95
8.183711987696222: Устройство 5 приняло заявку 51, 96
8.231640677547494: Устройство 6 приняло заявку 52, 97
8.242043729240944: Устройство 4 обработало заявку 50, 99
8.560528525247577: Устройство 2 обработало заявку 48, 100

In [ ]:
for device in devices:
  device.finish(actions[-1][1])

DEVICE 1 HAS UNFINISHED JOB!
DEVICE 3 HAS UNFINISHED JOB!
DEVICE 5 HAS UNFINISHED JOB!
DEVICE 6 HAS UNFINISHED JOB!

In [ ]:
with open('actions2.pickle', 'wb') as handle:
    pickle.dump(actions, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open('requests2pickle', 'wb') as handle:
    pickle.dump(requests, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open('devices2.pickle', 'wb') as handle:
    pickle.dump(devices, handle, protocol=pickle.HIGHEST_PROTOCOL)

## Вывод 1

In [ ]:
adf = pd.DataFrame(actions, columns=['l', 't_соб', 'Type(l)', 'C(l)', 't_остмин', "t_ожз", "j(l)", "k(l)"])
adf['t_соб'] = adf['t_соб'].round(5)
adf['t_остмин'] = adf['t_остмин'].round(5)
adf['t_ожз'] = adf['t_ожз'].round(5)

adf['k(l)'] = adf['k(l)'].astype(int)

adf[:100]

      l    t_соб  Type(l)  C(l)  t_остмин    t_ожз  j(l)  k(l)
0     1  0.09703        1     1   0.21641  0.13782     1     1
1     2  0.23485        1     2   0.07859  0.00633     2     2
2     3  0.24118        1     3   0.07226  0.03759     3     3
3     4  0.27876        1     4   0.03468  0.06992     4     4
4     5  0.31344        2     3   0.31802  0.03524     1     1
..  ...      ...      ...   ...       ...      ...   ...   ...
95   96  8.07393        1     4   0.16812  0.10979    50     4
96   97  8.18371        1     5   0.05833  0.04793    51     5
97   98  8.23164        1     6   0.01040  0.35342    52     6
98   99  8.24204        2     5   0.31848  0.34301    50     4
99  100  8.56053        2     4   0.60385  0.02453    48     2

[100 rows x 8 columns]

In [ ]:
df1, df2, df3, df4 = np.array_split(adf, 4)
tables = [df1, df2, df3, df4]

In [ ]:
def latex_with_lines(df):
    column_format = '|c|c|c|c|c|c|c|c|'
    latex = df.to_latex(index=False, column_format=column_format)

    # Добавляем горизонтальные линии
    latex = latex.replace('\\toprule', '\\hline')

    latex = latex.replace('\\midrule', '')
    latex = latex.replace('\\bottomrule', '')

    latex = latex.replace('\\\\\n', '\\\\ \\hline\n')

    return latex

# Используем функцию
latex_tables = [latex_with_lines(df) for df in tables]

<ipython-input-47-7c7b5d23a51f>:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex = df.to_latex(index=False, column_format=column_format)

In [ ]:
print(latex_tables[0])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 l &   t\_соб &  Type(l) &  C(l) &  t\_остмин &   t\_ожз &  j(l) &  k(l) \\ \hline

 1 & 0.09703 &        1 &     1 &   0.21641 & 0.13782 &     1 &     1 \\ \hline
 2 & 0.23485 &        1 &     2 &   0.07859 & 0.00633 &     2 &     2 \\ \hline
 3 & 0.24118 &        1 &     3 &   0.07226 & 0.03759 &     3 &     3 \\ \hline
 4 & 0.27876 &        1 &     4 &   0.03468 & 0.06992 &     4 &     4 \\ \hline
 5 & 0.31344 &        2 &     3 &   0.31802 & 0.03524 &     1 &     1 \\ \hline
 6 & 0.34869 &        1 &     4 &   0.28278 & 0.02135 &     5 &     1 \\ \hline
 7 & 0.37004 &        1 &     5 &   0.26142 & 0.07070 &     6 &     5 \\ \hline
 8 & 0.44074 &        1 &     6 &   0.19072 & 0.18128 &     7 &     6 \\ \hline
 9 & 0.62203 &        1 &     7 &   0.00944 & 0.40744 &     8 &     7 \\ \hline
10 & 0.63146 &        2 &     6 &   0.13186 & 0.39800 &     3 &     3 \\ \hline
11 & 0.76332 &        2 &     5 &   0.08455 & 0.26614 &     7 &     6 \\ \hline
12 & 0.84787 &        2 &     4 &   0.02194 & 0.18159 &     2 &     2 \\ \hline
13 & 0.86981 &        2 &     3 &   0.04302 & 0.15965 &     4 &     4 \\ \hline
14 & 0.91283 &        2 &     2 &   0.55778 & 0.11663 &     5 &     1 \\ \hline
15 & 1.02946 &        1 &     3 &   0.44115 & 0.39129 &     9 &     1 \\ \hline
16 & 1.42075 &        1 &     4 &   0.04985 & 0.07301 &    10 &     2 \\ \hline
17 & 1.47061 &        2 &     3 &   0.33200 & 0.02315 &     8 &     7 \\ \hline
18 & 1.49376 &        1 &     4 &   0.30885 & 0.01095 &    11 &     3 \\ \hline
19 & 1.50471 &        1 &     5 &   0.29790 & 0.10281 &    12 &     4 \\ \hline
20 & 1.60752 &        1 &     6 &   0.19509 & 0.19716 &    13 &     6 \\ \hline
21 & 1.80261 &        2 &     5 &   0.25910 & 0.00207 &    10 &     2 \\ \hline
22 & 1.80468 &        1 &     6 &   0.25703 & 0.18752 &    14 &     2 \\ \hline
23 & 1.99219 &        1 &     7 &   0.06952 & 0.07062 &    15 &     7 \\ \hline
24 & 2.06171 &        2 &     6 &   0.01947 & 0.00110 &     9 &     1 \\ \hline
25 & 2.06281 &        1 &     7 &   0.01837 & 0.04085 &    16 &     1 \\ \hline

\end{tabular}

In [ ]:
print(latex_tables[1])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 l &   t\_соб &  Type(l) &  C(l) &  t\_остмин &   t\_ожз &  j(l) &  k(l) \\ \hline

26 & 2.08118 &        2 &     6 &   0.06246 & 0.02248 &     6 &     5 \\ \hline
27 & 2.10366 &        1 &     7 &   0.03998 & 0.11849 &    17 &     5 \\ \hline
28 & 2.14364 &        2 &     6 &   0.17817 & 0.07851 &    12 &     4 \\ \hline
29 & 2.22215 &        1 &     7 &   0.09966 & 0.16815 &    18 &     4 \\ \hline
30 & 2.32181 &        2 &     6 &   0.23088 & 0.06849 &    16 &     1 \\ \hline
31 & 2.39029 &        1 &     7 &   0.14881 & 0.48649 &    19 &     1 \\ \hline
32 & 2.53911 &        2 &     6 &   0.01358 & 0.33767 &    19 &     1 \\ \hline
33 & 2.55269 &        2 &     5 &   0.10635 & 0.32409 &    17 &     5 \\ \hline
34 & 2.65904 &        2 &     4 &   0.14623 & 0.21774 &    13 &     6 \\ \hline
35 & 2.80527 &        2 &     3 &   0.16364 & 0.07151 &    15 &     7 \\ \hline
36 & 2.87678 &        1 &     4 &   0.09213 & 0.07809 &    20 &     1 \\ \hline
37 & 2.95487 &        1 &     5 &   0.01404 & 0.04272 &    21 &     5 \\ \hline
38 & 2.96891 &        2 &     4 &   0.30662 & 0.02869 &    14 &     2 \\ \hline
39 & 2.99759 &        1 &     5 &   0.25161 & 0.00216 &    22 &     2 \\ \hline
40 & 2.99975 &        1 &     6 &   0.24945 & 0.03079 &    23 &     6 \\ \hline
41 & 3.03054 &        1 &     7 &   0.21866 & 0.01973 &    24 &     7 \\ \hline
42 & 3.05027 &        1 &     8 &   0.19893 & 0.71545 &    25 &    -1 \\ \hline
43 & 3.24920 &        2 &     7 &   0.02633 & 0.51652 &    22 &     2 \\ \hline
44 & 3.27553 &        2 &     6 &   0.14993 & 0.49020 &    20 &     1 \\ \hline
45 & 3.42546 &        2 &     5 &   0.00315 & 0.34026 &    24 &     7 \\ \hline
46 & 3.42861 &        2 &     4 &   0.11109 & 0.33711 &    11 &     3 \\ \hline
47 & 3.53970 &        2 &     3 &   0.29856 & 0.22602 &    21 &     5 \\ \hline
48 & 3.76572 &        1 &     4 &   0.07254 & 0.22480 &    26 &     1 \\ \hline
49 & 3.83826 &        2 &     3 &   0.25368 & 0.15227 &    18 &     4 \\ \hline
50 & 3.99052 &        1 &     4 &   0.10142 & 0.00562 &    27 &     3 \\ \hline

\end{tabular}

In [ ]:
print(latex_tables[2])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 l &   t\_соб &  Type(l) &  C(l) &  t\_остмин &   t\_ожз &  j(l) &  k(l) \\ \hline

51 & 3.99615 &        1 &     5 &   0.02747 & 0.01572 &    28 &     4 \\ \hline
52 & 4.01186 &        1 &     6 &   0.01175 & 0.10626 &    29 &     5 \\ \hline
53 & 4.02362 &        2 &     5 &   0.06832 & 0.09451 &    28 &     4 \\ \hline
54 & 4.09194 &        2 &     4 &   0.03855 & 0.02618 &    25 &     2 \\ \hline
55 & 4.11813 &        1 &     5 &   0.01237 & 0.05745 &    30 &     2 \\ \hline
56 & 4.13050 &        2 &     4 &   0.02439 & 0.04508 &    27 &     3 \\ \hline
57 & 4.15489 &        2 &     3 &   0.21366 & 0.02069 &    23 &     6 \\ \hline
58 & 4.17557 &        1 &     4 &   0.19297 & 0.08153 &    31 &     3 \\ \hline
59 & 4.25710 &        1 &     5 &   0.11145 & 0.05213 &    32 &     4 \\ \hline
60 & 4.30923 &        1 &     6 &   0.05932 & 0.00707 &    33 &     6 \\ \hline
61 & 4.31630 &        1 &     7 &   0.05225 & 0.29746 &    34 &     7 \\ \hline
62 & 4.36855 &        2 &     6 &   0.00449 & 0.24521 &    26 &     1 \\ \hline
63 & 4.37303 &        2 &     5 &   0.02271 & 0.24072 &    30 &     2 \\ \hline
64 & 4.39574 &        2 &     4 &   0.08808 & 0.21801 &    33 &     6 \\ \hline
65 & 4.48383 &        2 &     3 &   0.23494 & 0.12993 &    32 &     4 \\ \hline
66 & 4.61376 &        1 &     4 &   0.10501 & 0.15991 &    35 &     1 \\ \hline
67 & 4.71876 &        2 &     3 &   0.02293 & 0.05490 &    31 &     3 \\ \hline
68 & 4.74169 &        2 &     2 &   0.07268 & 0.03198 &    29 &     5 \\ \hline
69 & 4.77367 &        1 &     3 &   0.02075 & 0.04592 &    36 &     2 \\ \hline
70 & 4.79442 &        2 &     2 &   0.01995 & 0.02517 &    36 &     2 \\ \hline
71 & 4.81437 &        2 &     1 &   0.94856 & 0.00522 &    35 &     1 \\ \hline
72 & 4.81959 &        1 &     2 &   0.94334 & 0.18520 &    37 &     1 \\ \hline
73 & 5.00479 &        1 &     3 &   0.75814 & 0.00659 &    38 &     2 \\ \hline
74 & 5.01138 &        1 &     4 &   0.14704 & 0.04274 &    39 &     3 \\ \hline
75 & 5.05412 &        1 &     5 &   0.10430 & 0.35743 &    40 &     4 \\ \hline

\end{tabular}

In [ ]:
print(latex_tables[3])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
  l &   t\_соб &  Type(l) &  C(l) &  t\_остмин &   t\_ожз &  j(l) &  k(l) \\ \hline

 76 & 5.15842 &        2 &     4 &   0.60451 & 0.25314 &    39 &     3 \\ \hline
 77 & 5.41156 &        1 &     5 &   0.35137 & 0.30152 &    41 &     3 \\ \hline
 78 & 5.71308 &        1 &     6 &   0.04985 & 0.19519 &    42 &     5 \\ \hline
 79 & 5.76293 &        2 &     5 &   0.16079 & 0.14534 &    34 &     7 \\ \hline
 80 & 5.90827 &        1 &     6 &   0.01545 & 0.03656 &    43 &     6 \\ \hline
 81 & 5.92372 &        2 &     5 &   0.00854 & 0.02111 &    37 &     1 \\ \hline
 82 & 5.93227 &        2 &     4 &   0.04519 & 0.01256 &    41 &     3 \\ \hline
 83 & 5.94483 &        1 &     5 &   0.03263 & 1.15555 &    44 &     1 \\ \hline
 84 & 5.97746 &        2 &     4 &   0.10817 & 1.12292 &    38 &     2 \\ \hline
 85 & 6.08562 &        2 &     3 &   0.03243 & 1.01475 &    44 &     1 \\ \hline
 86 & 6.11806 &        2 &     2 &   0.52393 & 0.98232 &    43 &     6 \\ \hline
 87 & 6.64199 &        2 &     1 &   0.39856 & 0.45839 &    40 &     4 \\ \hline
 88 & 7.04055 &        2 &     0 &  -1.00000 & 0.05983 &    42 &     5 \\ \hline
 89 & 7.10037 &        1 &     1 &   2.06401 & 0.00202 &    45 &     1 \\ \hline
 90 & 7.10240 &        1 &     2 &   0.00149 & 0.03967 &    46 &     2 \\ \hline
 91 & 7.10389 &        2 &     1 &   2.06049 & 0.03818 &    46 &     2 \\ \hline
 92 & 7.14207 &        1 &     2 &   0.16098 & 0.40125 &    47 &     2 \\ \hline
 93 & 7.30305 &        2 &     1 &   1.86133 & 0.24026 &    47 &     2 \\ \hline
 94 & 7.54331 &        1 &     2 &   1.01721 & 0.39234 &    48 &     2 \\ \hline
 95 & 7.93565 &        1 &     3 &   0.62488 & 0.13827 &    49 &     3 \\ \hline
 96 & 8.07393 &        1 &     4 &   0.16812 & 0.10979 &    50 &     4 \\ \hline
 97 & 8.18371 &        1 &     5 &   0.05833 & 0.04793 &    51 &     5 \\ \hline
 98 & 8.23164 &        1 &     6 &   0.01040 & 0.35342 &    52 &     6 \\ \hline
 99 & 8.24204 &        2 &     5 &   0.31848 & 0.34301 &    50 &     4 \\ \hline
100 & 8.56053 &        2 &     4 &   0.60385 & 0.02453 &    48 &     2 \\ \hline

\end{tabular}

## Вывод 2

In [ ]:
rdf = pd.DataFrame.from_dict(requests).transpose()
rdf['j'] = rdf['j'].astype(int)

rdf['tw'] = rdf['tw'].round(5)
rdf['te'] = rdf['te'].round(5)
rdf['tq'] = rdf['tq'].round(5)
rdf['ts'] = rdf['ts'].round(5)
rdf['tz'] = rdf['tz'].round(5)

rdf['q'] = rdf['q'].astype(int)
rdf['tk'] = rdf['tk'].astype(int)
rdf

     j       tz  q       tq       ts       tw       te  tk
1    1  0.09703  0  0.00000  0.09703  0.21641  0.31344   1
2    2  0.23485  0  0.00000  0.23485  0.61303  0.84787   2
3    3  0.24118  0  0.00000  0.24118  0.39028  0.63146   3
4    4  0.27876  0  0.00000  0.27876  0.59105  0.86981   4
5    5  0.34869  0  0.00000  0.34869  0.56414  0.91283   1
6    6  0.37004  0  0.00000  0.37004  1.71114  2.08118   5
7    7  0.44074  0  0.00000  0.44074  0.32258  0.76332   6
8    8  0.62203  0  0.00000  0.62203  0.84858  1.47061   7
9    9  1.02946  0  0.00000  1.02946  1.03225  2.06171   1
10  10  1.42075  0  0.00000  1.42075  0.38185  1.80261   2
11  11  1.49376  0  0.00000  1.49376  1.93485  3.42861   3
12  12  1.50471  0  0.00000  1.50471  0.63893  2.14364   4
13  13  1.60752  0  0.00000  1.60752  1.05153  2.65904   6
14  14  1.80468  0  0.00000  1.80468  1.16423  2.96891   2
15  15  1.99219  0  0.00000  1.99219  0.81308  2.80527   7
16  16  2.06281  0  0.00000  2.06281  0.25900  2.32181   1
17  17  2.10366  0  0.00000  2.10366  0.44903  2.55269   5
18  18  2.22215  0  0.00000  2.22215  1.61611  3.83826   4
19  19  2.39029  0  0.00000  2.39029  0.14881  2.53911   1
20  20  2.87678  0  0.00000  2.87678  0.39875  3.27553   1
21  21  2.95487  0  0.00000  2.95487  0.58483  3.53970   5
22  22  2.99759  0  0.00000  2.99759  0.25161  3.24920   2
23  23  2.99975  0  0.00000  2.99975  1.15514  4.15489   6
24  24  3.03054  0  0.00000  3.03054  0.39492  3.42546   7
25  25  3.05027  1  0.19893  3.24920  0.84274  4.09194   2
26  26  3.76572  0  0.00000  3.76572  0.60282  4.36855   1
27  27  3.99052  0  0.00000  3.99052  0.13997  4.13050   3
28  28  3.99615  0  0.00000  3.99615  0.02747  4.02362   4
29  29  4.01186  0  0.00000  4.01186  0.72982  4.74169   5
30  30  4.11813  0  0.00000  4.11813  0.25491  4.37303   2
31  31  4.17557  0  0.00000  4.17557  0.54319  4.71876   3
32  32  4.25710  0  0.00000  4.25710  0.22673  4.48383   4
33  33  4.30923  0  0.00000  4.30923  0.08651  4.39574   6
34  34  4.31630  0  0.00000  4.31630  1.44663  5.76293   7
35  35  4.61376  0  0.00000  4.61376  0.20061  4.81437   1
36  36  4.77367  0  0.00000  4.77367  0.02075  4.79442   2
37  37  4.81959  0  0.00000  4.81959  1.10413  5.92372   1
38  38  5.00479  0  0.00000  5.00479  0.97267  5.97746   2
39  39  5.01138  0  0.00000  5.01138  0.14704  5.15842   3
40  40  5.05412  0  0.00000  5.05412  1.58787  6.64199   4
41  41  5.41156  0  0.00000  5.41156  0.52071  5.93227   3
42  42  5.71308  0  0.00000  5.71308  1.32747  7.04055   5
43  43  5.90827  0  0.00000  5.90827  0.20979  6.11806   6
44  44  5.94483  0  0.00000  5.94483  0.14080  6.08562   1
45  45  7.10037  0  0.00000  7.10037  2.06401  9.16438   1
46  46  7.10240  0  0.00000  7.10240  0.00149  7.10389   2
47  47  7.14207  0  0.00000  7.14207  0.16098  7.30305   2
48  48  7.54331  0  0.00000  7.54331  1.01721  8.56053   2
49  49  7.93565  0  0.00000  7.93565  1.76104  9.69669   3
50  50  8.07393  0  0.00000  8.07393  0.16812  8.24204   4
51  51  8.18371  0  0.00000  8.18371  1.36062  9.54433   5
52  52  8.23164  0  0.00000  8.23164  1.50625  9.73789   6

In [ ]:
df1, df2, df3 = rdf[:25], rdf[25:50], rdf[50:]
tables = [df1, df2, df3]

In [ ]:
def latex_with_lines(df):
    column_format = '|c|c|c|c|c|c|c|c|'
    latex = df.to_latex(index=False, column_format=column_format)

    # Добавляем горизонтальные линии
    latex = latex.replace('\\toprule', '\\hline')

    latex = latex.replace('\\midrule', '')
    latex = latex.replace('\\bottomrule', '')

    latex = latex.replace('\\\\\n', '\\\\ \\hline\n')

    return latex

# Используем функцию
latex_tables = [latex_with_lines(df) for df in tables]

<ipython-input-54-7c7b5d23a51f>:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex = df.to_latex(index=False, column_format=column_format)

In [ ]:
print(latex_tables[0])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 j &      tz &  q &      tq &      ts &      tw &      te &  tk \\ \hline

 1 & 0.09703 &  0 & 0.00000 & 0.09703 & 0.21641 & 0.31344 &   1 \\ \hline
 2 & 0.23485 &  0 & 0.00000 & 0.23485 & 0.61303 & 0.84787 &   2 \\ \hline
 3 & 0.24118 &  0 & 0.00000 & 0.24118 & 0.39028 & 0.63146 &   3 \\ \hline
 4 & 0.27876 &  0 & 0.00000 & 0.27876 & 0.59105 & 0.86981 &   4 \\ \hline
 5 & 0.34869 &  0 & 0.00000 & 0.34869 & 0.56414 & 0.91283 &   1 \\ \hline
 6 & 0.37004 &  0 & 0.00000 & 0.37004 & 1.71114 & 2.08118 &   5 \\ \hline
 7 & 0.44074 &  0 & 0.00000 & 0.44074 & 0.32258 & 0.76332 &   6 \\ \hline
 8 & 0.62203 &  0 & 0.00000 & 0.62203 & 0.84858 & 1.47061 &   7 \\ \hline
 9 & 1.02946 &  0 & 0.00000 & 1.02946 & 1.03225 & 2.06171 &   1 \\ \hline
10 & 1.42075 &  0 & 0.00000 & 1.42075 & 0.38185 & 1.80261 &   2 \\ \hline
11 & 1.49376 &  0 & 0.00000 & 1.49376 & 1.93485 & 3.42861 &   3 \\ \hline
12 & 1.50471 &  0 & 0.00000 & 1.50471 & 0.63893 & 2.14364 &   4 \\ \hline
13 & 1.60752 &  0 & 0.00000 & 1.60752 & 1.05153 & 2.65904 &   6 \\ \hline
14 & 1.80468 &  0 & 0.00000 & 1.80468 & 1.16423 & 2.96891 &   2 \\ \hline
15 & 1.99219 &  0 & 0.00000 & 1.99219 & 0.81308 & 2.80527 &   7 \\ \hline
16 & 2.06281 &  0 & 0.00000 & 2.06281 & 0.25900 & 2.32181 &   1 \\ \hline
17 & 2.10366 &  0 & 0.00000 & 2.10366 & 0.44903 & 2.55269 &   5 \\ \hline
18 & 2.22215 &  0 & 0.00000 & 2.22215 & 1.61611 & 3.83826 &   4 \\ \hline
19 & 2.39029 &  0 & 0.00000 & 2.39029 & 0.14881 & 2.53911 &   1 \\ \hline
20 & 2.87678 &  0 & 0.00000 & 2.87678 & 0.39875 & 3.27553 &   1 \\ \hline
21 & 2.95487 &  0 & 0.00000 & 2.95487 & 0.58483 & 3.53970 &   5 \\ \hline
22 & 2.99759 &  0 & 0.00000 & 2.99759 & 0.25161 & 3.24920 &   2 \\ \hline
23 & 2.99975 &  0 & 0.00000 & 2.99975 & 1.15514 & 4.15489 &   6 \\ \hline
24 & 3.03054 &  0 & 0.00000 & 3.03054 & 0.39492 & 3.42546 &   7 \\ \hline
25 & 3.05027 &  1 & 0.19893 & 3.24920 & 0.84274 & 4.09194 &   2 \\ \hline

\end{tabular}

In [ ]:
print(latex_tables[1])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 j &      tz &  q &  tq &      ts &      tw &      te &  tk \\ \hline

26 & 3.76572 &  0 & 0.0 & 3.76572 & 0.60282 & 4.36855 &   1 \\ \hline
27 & 3.99052 &  0 & 0.0 & 3.99052 & 0.13997 & 4.13050 &   3 \\ \hline
28 & 3.99615 &  0 & 0.0 & 3.99615 & 0.02747 & 4.02362 &   4 \\ \hline
29 & 4.01186 &  0 & 0.0 & 4.01186 & 0.72982 & 4.74169 &   5 \\ \hline
30 & 4.11813 &  0 & 0.0 & 4.11813 & 0.25491 & 4.37303 &   2 \\ \hline
31 & 4.17557 &  0 & 0.0 & 4.17557 & 0.54319 & 4.71876 &   3 \\ \hline
32 & 4.25710 &  0 & 0.0 & 4.25710 & 0.22673 & 4.48383 &   4 \\ \hline
33 & 4.30923 &  0 & 0.0 & 4.30923 & 0.08651 & 4.39574 &   6 \\ \hline
34 & 4.31630 &  0 & 0.0 & 4.31630 & 1.44663 & 5.76293 &   7 \\ \hline
35 & 4.61376 &  0 & 0.0 & 4.61376 & 0.20061 & 4.81437 &   1 \\ \hline
36 & 4.77367 &  0 & 0.0 & 4.77367 & 0.02075 & 4.79442 &   2 \\ \hline
37 & 4.81959 &  0 & 0.0 & 4.81959 & 1.10413 & 5.92372 &   1 \\ \hline
38 & 5.00479 &  0 & 0.0 & 5.00479 & 0.97267 & 5.97746 &   2 \\ \hline
39 & 5.01138 &  0 & 0.0 & 5.01138 & 0.14704 & 5.15842 &   3 \\ \hline
40 & 5.05412 &  0 & 0.0 & 5.05412 & 1.58787 & 6.64199 &   4 \\ \hline
41 & 5.41156 &  0 & 0.0 & 5.41156 & 0.52071 & 5.93227 &   3 \\ \hline
42 & 5.71308 &  0 & 0.0 & 5.71308 & 1.32747 & 7.04055 &   5 \\ \hline
43 & 5.90827 &  0 & 0.0 & 5.90827 & 0.20979 & 6.11806 &   6 \\ \hline
44 & 5.94483 &  0 & 0.0 & 5.94483 & 0.14080 & 6.08562 &   1 \\ \hline
45 & 7.10037 &  0 & 0.0 & 7.10037 & 2.06401 & 9.16438 &   1 \\ \hline
46 & 7.10240 &  0 & 0.0 & 7.10240 & 0.00149 & 7.10389 &   2 \\ \hline
47 & 7.14207 &  0 & 0.0 & 7.14207 & 0.16098 & 7.30305 &   2 \\ \hline
48 & 7.54331 &  0 & 0.0 & 7.54331 & 1.01721 & 8.56053 &   2 \\ \hline
49 & 7.93565 &  0 & 0.0 & 7.93565 & 1.76104 & 9.69669 &   3 \\ \hline
50 & 8.07393 &  0 & 0.0 & 8.07393 & 0.16812 & 8.24204 &   4 \\ \hline

\end{tabular}

In [ ]:
print(latex_tables[2])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 j &      tz &  q &  tq &      ts &      tw &      te &  tk \\ \hline

51 & 8.18371 &  0 & 0.0 & 8.18371 & 1.36062 & 9.54433 &   5 \\ \hline
52 & 8.23164 &  0 & 0.0 & 8.23164 & 1.50625 & 9.73789 &   6 \\ \hline

\end{tabular}

## Вывод 3

In [ ]:
final_t = adf["t_соб"][99]
final_t

8.56053

In [ ]:
ddf = pd.DataFrame([[device.device_id, device.processed, device.was_busy, final_t-device.was_busy, (final_t-device.was_busy)/final_t] for device in devices],
                   columns=['k', 'N(k)', 't_зан', 't_np', "Delta"])
ddf.loc[len(ddf.index)] = [None, sum(ddf["N(k)"]), sum(ddf["N(k)"])/n,  sum(ddf["t_np"])/n,  sum(ddf["Delta"])/n]

ddf['k'] = ddf['k'].astype("Int64")
ddf['N(k)'] = ddf['N(k)'].astype(int)
ddf['t_зан'] = ddf['t_зан'].round(5)
ddf['t_np'] = ddf['t_np'].round(5)
ddf['Delta'] = ddf['Delta'].round(5)

ddf

      k  N(k)    t_зан     t_np    Delta
0     1    11  6.12788  2.43265  0.28417
1     2    11  5.68148  2.87905  0.33632
2     3     7  4.30092  4.25961  0.49759
3     4     7  4.85628  3.70425  0.43271
4     5     6  5.17912  3.38141  0.39500
5     6     6  3.15443  5.40610  0.63151
6     7     4  3.50321  5.05732  0.59077
7  <NA>    52  7.42857  3.87434  0.45258

In [ ]:
def latex_with_lines(df):
    column_format = '|c|c|c|c|c|'
    latex = df.to_latex(index=False, column_format=column_format)

    # Добавляем горизонтальные линии
    latex = latex.replace('\\toprule', '\\hline')

    latex = latex.replace('\\midrule', '')
    latex = latex.replace('\\bottomrule', '')

    latex = latex.replace('\\\\\n', '\\\\ \\hline\n')
    latex = latex.replace('<NA>', ' ')

    return latex

# Используем функцию
latex_table = latex_with_lines(ddf)

<ipython-input-60-24eb57417011>:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex = df.to_latex(index=False, column_format=column_format)

In [ ]:
print(latex_table)

\begin{tabular}{|c|c|c|c|c|}
\hline
   k &  N(k) &   t\_зан &    t\_np &   Delta \\ \hline

   1 &    11 & 6.12788 & 2.43265 & 0.28417 \\ \hline
   2 &    11 & 5.68148 & 2.87905 & 0.33632 \\ \hline
   3 &     7 & 4.30092 & 4.25961 & 0.49759 \\ \hline
   4 &     7 & 4.85628 & 3.70425 & 0.43271 \\ \hline
   5 &     6 & 5.17912 & 3.38141 & 0.39500 \\ \hline
   6 &     6 & 3.15443 & 5.40610 & 0.63151 \\ \hline
   7 &     4 & 3.50321 & 5.05732 & 0.59077 \\ \hline
  &    52 & 7.42857 & 3.87434 & 0.45258 \\ \hline

\end{tabular}

## Вывод 4

In [ ]:
adf['C(l)'].value_counts().sort_index().index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [ ]:
R = adf['C(l)'].value_counts().sort_index().values
if adf['C(l)'].value_counts().sort_index().index[0] != 0:
  R = np.insert(R, 0, 0)
R

array([ 1,  6,  9, 15, 22, 20, 17,  9,  1])

In [ ]:
sum([r/100 for r in R])

1.0

In [ ]:
s = final_t

T = [0]*(len(R))
D = [0]*len(R)
cur_state = 0
last_time = 0

for e in actions:
  _st = e[3]
  if _st != cur_state:
    # print(_st, e[1])
    T[cur_state] += e[1] - last_time
    last_time, cur_state = e[1], e[3]

for i in range(len(T)):
  D[i] = T[i]/s
print(T)
print(s, D, sum(D))

[0.1568580938723761, 0.8220621215516246, 1.438828022996734, 1.3516892197829613, 1.4326008759226236, 1.5158265999277014, 1.1596535637554637, 0.484079901722552, 0.19893012571554003]
8.56053 [0.018323409166532457, 0.09602934883139533, 0.1680769792287083, 0.15789784274840007, 0.1673495538153156, 0.17707158317624042, 0.13546515972205736, 0.05654788917538423, 0.023238061862471137] 0.9999998277265048

In [ ]:
states = np.array(adf['C(l)'].value_counts().sort_index().index)
if states[0] != 0:
  states = np.insert(states, 0, 0)
states

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
def calculate_P0(lam, mu, n, m):
  rho = lam/mu
  nu = rho/n
  return 6.5120014164921E-7 #
  return np.sum([(rho**k)/(factorial(k)) for k in range(n)] + [((rho**n)/factorial(n)) * np.sum([nu**k for k in range(m+1)])])**-1

def calculate_Pi(lam, mu, n, m, i):
    rho = lam/mu
    return (rho**i/factorial(i)) * calculate_P0(lam ,mu, n, m)


p0 = calculate_P0(lam, mu, n, m)
Pi = calculate_Pi(lam, mu, n, m, 19)
print(p0, Pi)

6.5120014164921e-07 4.737896164426495e-08

In [ ]:
np.sum([calculate_Pi(lam, mu, n, m, i) for i in range(20)])

0.0006509382265091893

In [ ]:
sdf = pd.DataFrame({
    'Состояние': states,
    'r_i': [calculate_Pi(lam, mu, n, m, i) for i in range(len(R))],
    'R': R
})
sdf['v'] = sdf["R"]/100
sdf['T'] = T
sdf['Delta'] = D

sdf.loc[len(sdf.index)] = [None, sum(sdf["r_i"]), sum(sdf["R"]),  sum(sdf["v"]), sum(sdf["T"]), sum(sdf["Delta"])]

sdf['Состояние'] = sdf['Состояние'].astype("Int64")
sdf['r_i'] = sdf['r_i'].round(5)
sdf['R'] = sdf['R'].astype(int)
sdf['T'] = sdf['T'].round(5)
sdf['Delta'] = sdf['Delta'].round(5)

sdf

   Состояние      r_i    R     v        T    Delta
0          0  0.00000    1  0.01  0.15686  0.01832
1          1  0.00000    6  0.06  0.82206  0.09603
2          2  0.00002    9  0.09  1.43883  0.16808
3          3  0.00004   15  0.15  1.35169  0.15790
4          4  0.00006   22  0.22  1.43260  0.16735
5          5  0.00009   20  0.20  1.51583  0.17707
6          6  0.00010   17  0.17  1.15965  0.13547
7          7  0.00010    9  0.09  0.48408  0.05655
8          8  0.00008    1  0.01  0.19893  0.02324
9       <NA>  0.00048  100  1.00  8.56053  1.00000

In [ ]:
def latex_with_lines(df):
    column_format = '|c|c|c|c|c|c|c|c|'
    latex = df.to_latex(index=False, column_format=column_format)

    # Добавляем горизонтальные линии
    latex = latex.replace('\\toprule', '\\hline')

    latex = latex.replace('\\midrule', '')
    latex = latex.replace('\\bottomrule', '')

    latex = latex.replace('\\\\\n', '\\\\ \\hline\n')
    latex = latex.replace('<NA>', ' ')

    return latex

# Используем функцию
tables = [sdf[:25], sdf[25:]]
latex_tables = [latex_with_lines(df) for df in tables]

<ipython-input-70-6383ca4c28e7>:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex = df.to_latex(index=False, column_format=column_format)

!!!! ПРОВЕРЬ КОЛ-ВО СОСТОЯНИЙ ПРЕЖДЕ ЧЕМ РЕЗАТЬ ИСХОДНУЮ ТАБЛИЦУ

In [ ]:
print(latex_tables[0])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 Состояние &     r\_i &   R &    v &       T &   Delta \\ \hline

         0 & 0.00000 &   1 & 0.01 & 0.15686 & 0.01832 \\ \hline
         1 & 0.00000 &   6 & 0.06 & 0.82206 & 0.09603 \\ \hline
         2 & 0.00002 &   9 & 0.09 & 1.43883 & 0.16808 \\ \hline
         3 & 0.00004 &  15 & 0.15 & 1.35169 & 0.15790 \\ \hline
         4 & 0.00006 &  22 & 0.22 & 1.43260 & 0.16735 \\ \hline
         5 & 0.00009 &  20 & 0.20 & 1.51583 & 0.17707 \\ \hline
         6 & 0.00010 &  17 & 0.17 & 1.15965 & 0.13547 \\ \hline
         7 & 0.00010 &   9 & 0.09 & 0.48408 & 0.05655 \\ \hline
         8 & 0.00008 &   1 & 0.01 & 0.19893 & 0.02324 \\ \hline
        & 0.00048 & 100 & 1.00 & 8.56053 & 1.00000 \\ \hline

\end{tabular}

In [ ]:
print(latex_tables[1])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
Empty DataFrame
Columns: Index(['Состояние', 'r\_i', 'R', 'v', 'T', 'Delta'], dtype='object')
Index: Int64Index([], dtype='int64') \\ \hline

\end{tabular}

## Вывод 5

In [ ]:
print(len(rdf)) #число заявок

52

In [ ]:
rdf[(rdf["te"] > adf["t_соб"][99]) | (rdf["tk"] == -1)] # Эти заявки не завершились на последнем событии или стоят в очереди

     j       tz  q   tq       ts       tw       te  tk
45  45  7.10037  0  0.0  7.10037  2.06401  9.16438   1
49  49  7.93565  0  0.0  7.93565  1.76104  9.69669   3
51  51  8.18371  0  0.0  8.18371  1.36062  9.54433   5
52  52  8.23164  0  0.0  8.23164  1.50625  9.73789   6

In [ ]:
obsl = len(rdf[(rdf["tk"] != -1) & (rdf["te"] <= adf["t_соб"][99])]) # Обработанные заявки
obsl

48

In [ ]:
sum(zl)/100 # среднее число заявок

4.3

In [ ]:
rdf["tq"][rdf["tq"] >= 0].sum()/obsl # среднее пребывание в очереди

0.004144375

In [ ]:
np.round(0.036249099470435434, 5)

0.03625

In [ ]:
(rdf["te"][rdf["tq"] >= 0] - rdf["tz"][rdf["tq"] >= 0]).sum()/obsl # среднее пребывание в СМО

0.7688212500000001

In [ ]:
0.03625+3.20156

3.23781

In [ ]:
adf["C(l)"]

0     1
1     2
2     3
3     4
4     3
     ..
95    4
96    5
97    6
98    5
99    4
Name: C(l), Length: 100, dtype: int64

In [ ]:
# Среднее число занятых приборов ЭТО НЕ ТЕОРЕТИЧЕСКИЕ
# adf["C(l)"].copy().apply(lambda x: x if x < n else n).sum()/100

In [ ]:
# Средняя длина очереди
# adf["C(l)"].copy().apply(lambda x: x-n if x-n >= 0 else 0).sum()/100

In [ ]:
p = lam/(mu)
p

6.907390084190833

In [ ]:
P_0 = 1 / (sum((lam/mu)**k / math.factorial(k) for k in range(n)) +
               ((lam/mu)**n / (math.factorial(n) * (1 - p))))
L = lam * mu * (p * ((lam/mu)**n) * P_0) / ((n * mu - lam)**2) + lam / mu
L # средняя теор занятых приборов

9523734.32677922

In [ ]:
L_q = (p * n * math.pow(p, n)) / (math.factorial(n) * (1 - p) * (1 - math.pow(p, n+1)))
for i in range(n):
    L_q += (math.pow(p * n, i) / math.factorial(i))
L_q = p * n - L_q
L_q # Средняя теор длина очереди

-20197661.288941357

In [ ]:
L = (p * n * math.pow(p, n)) / (math.factorial(n) * (1 - p))
for i in range(n):
    L += (math.pow(p * n, i) / math.factorial(i))
L # Среднее число заявок в СМО

20196491.257757593

In [ ]:
L = (p * n * math.pow(p, n)) / (math.factorial(n) * (1 - p))
for i in range(n):
    L += (math.pow(p * n, i) / math.factorial(i))
W = L / lam
W # Среднее время пребывания в системе

2735169.4552759468

In [ ]:
L_q = (p * n * math.pow(p, n)) / (math.factorial(n) * (1 - p) * (1 - math.pow(p, n+1)))
for i in range(n):
    L_q += (math.pow(p * n, i) / math.factorial(i))
L_q = p * n - L_q
W_q = L_q / lam
W_q # среднее время пребывания в очереди

-2735327.9102033256

# Система массового обслуживания (M|M|n|m)

In [ ]:
class Device:
    def __init__(self, device_id):
        self.device_id = device_id
        self.is_busy = False
        self.finish_time = None
        self.cur_request = None
        self.processing_time = None
        self.processed = 0
        self.was_busy = 0


    def finish(self, time):
      global requests
      if not self.is_busy: return
      print(f"DEVICE {self.device_id} HAS UNFINISHED JOB!")
      self.was_busy += time - requests[self.cur_request]["ts"]


    def new_request(self, request, write=True, override=False):
        global counter
        global actions
        global requests
        global state
        global left_time
        global next_query_deadline
        global next_next
        global min_finish

        self.is_busy = True
        self.processed += 1

        time = next_query_deadline if not override else override

        # Записать время и событие принятия заявки
        print(f'{time}: Устройство {self.device_id} приняло заявку {request}, {counter}')

        processing_time = np.random.exponential(1/mu)
        self.processing_time = processing_time
        if write:
          counter += 1
          actions.append([
            counter, #number
            time, # time recieved
            1, # type
            state, # state
            processing_time if processing_time < min_finish-time else min_finish-time, #min time left of work
            next_next, # next query in
            request, # request num
            self.device_id # device number
          ])

        self.finish_time = time + processing_time
        self.cur_request = request

        requests[request].update({
          "tq": time - requests[request]["tz"], # queue time
          "ts": time,
          "tw": self.processing_time, # for how long worked
          "te": self.finish_time, # when finished working
          "tk": self.device_id # who worked on request
        })


    def process_request(self):
        global counter
        global actions
        global devices
        global state
        global left_time
        global min_finish
        global next_query_deadline
        global min_device
        global devices
        global queue


        min_finish = np.inf
        min_device = None
        free_device = None

        for device in devices:
          if device.is_busy and device.finish_time < min_finish and device.device_id != self.device_id:
            min_finish = device.finish_time
            min_device = device
          elif not device.is_busy and free_device is None and device.device_id != self.device_id: free_device = device

        # Записать время и событие завершения обработки
        counter += 1
        state -= 1
        self.was_busy += self.processing_time

        print(f'{self.finish_time}: Устройство {self.device_id} обработало заявку {self.cur_request}, {counter}. Очередь: {len(queue)}')

        requests[self.cur_request].update({
          "tw": self.processing_time, # for how long worked
          "te": self.finish_time, # when finished working
        })

        # requests[self.cur_request].update({
        # })

        # есть ли новые заявки в очереди, добавить новый реквест
        if len(queue) != 0 and counter <= 100:
            self.processed += 1
            actions.append([
              counter, #number
              self.finish_time, # time recieved
              3, # type
              state, # state
              self.processing_time if self.processing_time < min_finish-self.finish_time else min_finish-self.finish_time, #min time left of work
              next_query_deadline - self.finish_time, # next query in
              self.cur_request, # request num
              self.device_id # device number
            ])

            request = queue.pop(0)
            time = self.finish_time

            # Записать время и событие принятия заявки
            print(f'{time}: Устройство {self.device_id} приняло заявку {request}, {counter}. Очередь: {len(queue)}')

            processing_time = np.random.exponential(1/mu)
            self.processing_time = processing_time

            self.finish_time = time + processing_time
            self.cur_request = request

            requests[request].update({
              "tq": time - requests[request]["tz"], # queue time
              "ts": time,
              "tw": self.processing_time, # for how long worked
              "te": self.finish_time, # when finished working
              "tk": self.device_id # who worked on request
            })
        elif counter <= 100:
          actions.append([
            counter, #number
            self.finish_time, # time recieved
            3, # type
            state, # state
            -1 if min_device is None else min_finish-self.finish_time,
            next_query_deadline - self.finish_time, # next query in
            self.cur_request, # request num
            self.device_id # device number
          ])

          self.finish_time = None
          self.cur_request = None
          self.is_busy = False

In [ ]:
counter = 0 # actions
request = 0 # queries
state = 0 # current state of query system
next_query_deadline = np.random.exponential(1/lam) # time when the new query appears
next_next =  np.random.exponential(1/lam)

queue = [] # queries queue # .pop(0)
requests = {} # log of requests
actions = [] # log of actions
zl = []

devices = [Device(i+1) for i in range(n)]
# watcher
while counter < 100:
  min_finish = np.inf
  min_device = None
  free_device = None

  # get device that will end sooner than others
  for device in devices:
    if device.is_busy and device.finish_time < min_finish:
      min_finish = device.finish_time
      min_device = device
    elif not device.is_busy and free_device is None: free_device = device

  # is there any query that fires sooner?
  if next_query_deadline < min_finish:
    request += 1
    if len(zl): zl.append(zl[-1]+1)
    else: zl.append(1)

    if free_device is None:
      # all devices are busy. Add to queue
      counter += 1

      if len(queue) >= m:
        print(f'{next_query_deadline}: ОТКАЗ. Новая заявка {request} получила отказ, {counter}. Очередь до события: {len(queue)}')
        state += 1
        actions.append([
            counter, #number
            next_query_deadline, # time recieved
            2, # type
            state, # state
            -1 if min_device is None else min_finish-next_query_deadline, #min time left of work
            next_next, # next query in
            request, # request num
            -1 # device number
        ])

        requests[request] = {
            "j": request,
            "tz": next_query_deadline, # appeared
            "q": -1, # queue pos
            "tq": 0, # queue time
            "ts": -1, # start of working on request
            "tw": 0, # for how long worked
            "te": next_query_deadline, # when finished working
            "tk": -2 # who worked on request
        }
      else:
        state += 1
        print(f'{next_query_deadline}: Новая заявка {request} встала в очередь, {counter}. Очередь до события: {len(queue)}')
        actions.append([
              counter, #number
              next_query_deadline, # time recieved
              1, # type
              state, # state
              -1 if min_device is None else min_finish-next_query_deadline, #min time left of work
              next_next, # next query in
              request, # request num
              -1 # device number
          ])
        queue.append(request)

        requests[request] = {
            "j": request,
            "tz": next_query_deadline, # appeared
            "q": len(queue), # queue pos
            "tq": -1, # queue time
            "ts": -1, # start of working on request
            "tw": -1, # for how long worked
            "te": -1, # when finished working
            "tk": -1 # who worked on request
        }
    else:
      # At least one device is free
      state += 1
      requests[request] = {
          "j": request,
          "tz": next_query_deadline, # appeared
          "q": 0, # queue pos
          "tq": 0, # queue time
          "ts": next_query_deadline, # start of working on request
          "tw": 0, # for how long worked
          "te": -1, # when finished working
          "tk": free_device.device_id # who worked on request
      }
      free_device.new_request(request)
    next_query_deadline +=  next_next
    next_next = np.random.exponential(1/lam)
  else:
    # Device processes query sooner
    zl.append(zl[-1]-1)
    min_device.process_request()

0.3095188720299117: Устройство 1 приняло заявку 1, 0
0.41305259732790456: Устройство 2 приняло заявку 2, 1
0.4284388250427368: Устройство 1 обработало заявку 1, 3. Очередь: 0
0.5405086941796834: Устройство 1 приняло заявку 3, 3
0.565208746722603: Устройство 3 приняло заявку 4, 4
0.57463423269698: Устройство 2 обработало заявку 2, 6. Очередь: 0
0.7565484754998242: Устройство 2 приняло заявку 5, 6
0.9179296966284253: Устройство 4 приняло заявку 6, 7
0.9464692480984014: Устройство 5 приняло заявку 7, 8
0.9661108241223663: Устройство 2 обработало заявку 5, 10. Очередь: 0
1.007272871501287: Устройство 2 приняло заявку 8, 10
1.0890806517035394: Устройство 6 приняло заявку 9, 11
1.1098883929091852: Устройство 4 обработало заявку 6, 13. Очередь: 0
1.41106122495809: Устройство 4 приняло заявку 10, 13
1.5519736541843625: Устройство 7 приняло заявку 11, 14
1.5759406219107135: Новая заявка 12 встала в очередь, 16. Очередь до события: 0
1.6100256583677413: Устройство 2 обработало заявку 8, 17. Очередь: 1
1.6100256583677413: Устройство 2 приняло заявку 12, 17. Очередь: 0
1.727568496153172: Устройство 7 обработало заявку 11, 18. Очередь: 0
1.739679993205746: Устройство 2 обработало заявку 12, 19. Очередь: 0
1.8093728948205898: Устройство 3 обработало заявку 4, 20. Очередь: 0
1.8686098839929022: Устройство 5 обработало заявку 7, 21. Очередь: 0
1.8890991444992709: Устройство 2 приняло заявку 13, 21
1.9594142897483109: Устройство 3 приняло заявку 14, 22
1.9911746008844233: Устройство 5 приняло заявку 15, 23
1.9967776967663757: Устройство 7 приняло заявку 16, 24
2.01872364149978: Новая заявка 17 встала в очередь, 26. Очередь до события: 0
2.0348493678586834: Устройство 7 обработало заявку 16, 27. Очередь: 1
2.0348493678586834: Устройство 7 приняло заявку 17, 27. Очередь: 0
2.050431520713482: Устройство 3 обработало заявку 14, 28. Очередь: 0
2.100123546758786: Устройство 5 обработало заявку 15, 29. Очередь: 0
2.133933768071679: Устройство 7 обработало заявку 17, 30. Очередь: 0
2.13974169764372: Устройство 1 обработало заявку 3, 31. Очередь: 0
2.414362217186583: Устройство 4 обработало заявку 10, 32. Очередь: 0
2.5129523841003483: Устройство 6 обработало заявку 9, 33. Очередь: 0
2.7521441727994382: Устройство 1 приняло заявку 18, 33
3.017353811846982: Устройство 3 приняло заявку 19, 34
3.0330982803142237: Устройство 4 приняло заявку 20, 35
3.0503184034002095: Устройство 5 приняло заявку 21, 36
3.1054410524847063: Устройство 4 обработало заявку 20, 38. Очередь: 0
3.1664852850149057: Устройство 4 приняло заявку 22, 38
3.182731113929786: Устройство 2 обработало заявку 13, 40. Очередь: 0
3.251654465590426: Устройство 4 обработало заявку 22, 41. Очередь: 0
3.3023612678467598: Устройство 2 приняло заявку 23, 41
3.3902373381709: Устройство 4 приняло заявку 24, 42
3.4911131800930844: Устройство 6 приняло заявку 25, 43
3.667987707839328: Устройство 7 приняло заявку 26, 44
3.6863622338728894: Устройство 7 обработало заявку 26, 46. Очередь: 0
3.7009098682389867: Устройство 5 обработало заявку 21, 47. Очередь: 0
3.7088404837003006: Устройство 5 приняло заявку 27, 47
3.7399717732436666: Устройство 7 приняло заявку 28, 48
3.8008037491782627: Новая заявка 29 встала в очередь, 50. Очередь до события: 0
3.8166677261478767: Устройство 2 обработало заявку 23, 51. Очередь: 1
3.8166677261478767: Устройство 2 приняло заявку 29, 51. Очередь: 0
3.832283598627325: Устройство 2 обработало заявку 29, 52. Очередь: 0
3.837263290248113: Устройство 2 приняло заявку 30, 52
3.8611997023862576: Устройство 7 обработало заявку 28, 54. Очередь: 0
3.9129980024501454: Устройство 7 приняло заявку 31, 54
4.078906819850958: Устройство 3 обработало заявку 19, 56. Очередь: 0
4.184230077204401: Устройство 2 обработало заявку 30, 57. Очередь: 0
4.209417090938099: Устройство 4 обработало заявку 24, 58. Очередь: 0
4.236872164888297: Устройство 2 приняло заявку 32, 58
4.303162445264658: Устройство 5 обработало заявку 27, 60. Очередь: 0
4.425901945803727: Устройство 2 обработало заявку 32, 61. Очередь: 0
4.432258299490199: Устройство 6 обработало заявку 25, 62. Очередь: 0
4.47089016984813: Устройство 2 приняло заявку 33, 62
4.487908392096011: Устройство 3 приняло заявку 34, 63
4.548364800659255: Устройство 4 приняло заявку 35, 64
4.560981320408527: Устройство 5 приняло заявку 36, 65
4.756796907985193: Устройство 3 обработало заявку 34, 67. Очередь: 0
4.9220294175462715: Устройство 7 обработало заявку 31, 68. Очередь: 0
4.938227425676198: Устройство 4 обработало заявку 35, 69. Очередь: 0
4.997075146561915: Устройство 5 обработало заявку 36, 70. Очередь: 0
5.058114554679351: Устройство 1 обработало заявку 18, 71. Очередь: 0
5.213208364814044: Устройство 1 приняло заявку 37, 71
5.327129458324961: Устройство 3 приняло заявку 38, 72
5.464348865955524: Устройство 4 приняло заявку 39, 73
5.493201749114582: Устройство 5 приняло заявку 40, 74
5.62794460766556: Устройство 6 приняло заявку 41, 75
5.633638375258984: Устройство 7 приняло заявку 42, 76
5.738903240685482: Устройство 5 обработало заявку 40, 78. Очередь: 0
5.755259920994632: Устройство 6 обработало заявку 41, 79. Очередь: 0
5.775481770595645: Устройство 7 обработало заявку 42, 80. Очередь: 0
5.8136813423798355: Устройство 4 обработало заявку 39, 81. Очередь: 0
5.863019278596507: Устройство 4 приняло заявку 43, 81
5.894737653214496: Устройство 3 обработало заявку 38, 83. Очередь: 0
5.989173336907141: Устройство 1 обработало заявку 37, 84. Очередь: 0
5.993130609369667: Устройство 1 приняло заявку 44, 84
6.012459156771536: Устройство 4 обработало заявку 43, 86. Очередь: 0
6.253272788804009: Устройство 3 приняло заявку 45, 86
6.2534885919557475: Устройство 4 приняло заявку 46, 87
6.327892842636004: Устройство 5 приняло заявку 47, 88
6.348154543455459: Устройство 3 обработало заявку 45, 90. Очередь: 0
6.367057210948442: Устройство 3 приняло заявку 48, 90
6.528021638124038: Устройство 6 приняло заявку 49, 91
6.573143523693582: Устройство 7 приняло заявку 50, 92
6.601804055059142: Устройство 2 обработало заявку 33, 94. Очередь: 0
6.932074585446141: Устройство 3 обработало заявку 48, 95. Очередь: 0
6.95990559391063: Устройство 7 обработало заявку 50, 96. Очередь: 0
7.047904053002797: Устройство 4 обработало заявку 46, 97. Очередь: 0
7.16059765847482: Устройство 2 приняло заявку 51, 97
7.188497867343115: Устройство 3 приняло заявку 52, 98
7.199225662495598: Устройство 4 приняло заявку 53, 99

In [ ]:
for device in devices:
  device.finish(actions[-1][1])

DEVICE 1 HAS UNFINISHED JOB!
DEVICE 2 HAS UNFINISHED JOB!
DEVICE 3 HAS UNFINISHED JOB!
DEVICE 4 HAS UNFINISHED JOB!
DEVICE 5 HAS UNFINISHED JOB!
DEVICE 6 HAS UNFINISHED JOB!

In [ ]:
with open('actions3.pickle', 'wb') as handle:
    pickle.dump(actions, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open('requests3.pickle', 'wb') as handle:
    pickle.dump(requests, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open('devices3.pickle', 'wb') as handle:
    pickle.dump(devices, handle, protocol=pickle.HIGHEST_PROTOCOL)

## Вывод 1

In [ ]:
adf = pd.DataFrame(actions, columns=['l', 't_соб', 'Type(l)', 'C(l)', 't_остмин', "t_ожз", "j(l)", "k(l)"])
adf['t_соб'] = adf['t_соб'].round(5)
adf['t_остмин'] = adf['t_остмин'].round(5)
adf['t_ожз'] = adf['t_ожз'].round(5)

adf['k(l)'] = adf['k(l)'].astype(int)

adf[:100]

      l    t_соб  Type(l)  C(l)  t_остмин    t_ожз  j(l)  k(l)
0     1  0.30952        1     1   0.11892  0.10353     1     1
1     2  0.41305        1     2   0.01539  0.12746     2     2
2     3  0.42844        3     1   0.14620  0.11207     1     1
3     4  0.54051        1     2   0.03413  0.02470     3     1
4     5  0.56521        1     3   0.00943  0.19134     4     3
..  ...      ...      ...   ...       ...      ...   ...   ...
95   96  6.95991        3     4   0.08800  0.20069    50     7
96   97  7.04790        3     3   0.22419  0.11269    46     4
97   98  7.16060        1     4   0.11150  0.02790    51     2
98   99  7.18850        1     5   0.08360  0.01073    52     3
99  100  7.19923        1     6   0.07287  0.00134    53     4

[100 rows x 8 columns]

In [ ]:
df1, df2, df3, df4 = np.array_split(adf, 4)
tables = [df1, df2, df3, df4]

In [ ]:
def latex_with_lines(df):
    column_format = '|c|c|c|c|c|c|c|c|'
    latex = df.to_latex(index=False, column_format=column_format)

    # Добавляем горизонтальные линии
    latex = latex.replace('\\toprule', '\\hline')

    latex = latex.replace('\\midrule', '')
    latex = latex.replace('\\bottomrule', '')

    latex = latex.replace('\\\\\n', '\\\\ \\hline\n')

    return latex

# Используем функцию
latex_tables = [latex_with_lines(df) for df in tables]

<ipython-input-96-7c7b5d23a51f>:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex = df.to_latex(index=False, column_format=column_format)

In [ ]:
print(latex_tables[0])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 l &   t\_соб &  Type(l) &  C(l) &  t\_остмин &   t\_ожз &  j(l) &  k(l) \\ \hline

 1 & 0.30952 &        1 &     1 &   0.11892 & 0.10353 &     1 &     1 \\ \hline
 2 & 0.41305 &        1 &     2 &   0.01539 & 0.12746 &     2 &     2 \\ \hline
 3 & 0.42844 &        3 &     1 &   0.14620 & 0.11207 &     1 &     1 \\ \hline
 4 & 0.54051 &        1 &     2 &   0.03413 & 0.02470 &     3 &     1 \\ \hline
 5 & 0.56521 &        1 &     3 &   0.00943 & 0.19134 &     4 &     3 \\ \hline
 6 & 0.57463 &        3 &     2 &   1.23474 & 0.18191 &     2 &     2 \\ \hline
 7 & 0.75655 &        1 &     3 &   0.20956 & 0.16138 &     5 &     2 \\ \hline
 8 & 0.91793 &        1 &     4 &   0.04818 & 0.02854 &     6 &     4 \\ \hline
 9 & 0.94647 &        1 &     5 &   0.01964 & 0.06080 &     7 &     5 \\ \hline
10 & 0.96611 &        3 &     4 &   0.14378 & 0.04116 &     5 &     2 \\ \hline
11 & 1.00727 &        1 &     5 &   0.10262 & 0.08181 &     8 &     2 \\ \hline
12 & 1.08908 &        1 &     6 &   0.02081 & 0.32198 &     9 &     6 \\ \hline
13 & 1.10989 &        3 &     5 &   0.50014 & 0.30117 &     6 &     4 \\ \hline
14 & 1.41106 &        1 &     6 &   0.19896 & 0.14091 &    10 &     4 \\ \hline
15 & 1.55197 &        1 &     7 &   0.05805 & 0.02397 &    11 &     7 \\ \hline
16 & 1.57594 &        1 &     8 &   0.03409 & 0.31316 &    12 &    -1 \\ \hline
17 & 1.61003 &        3 &     7 &   0.11754 & 0.27907 &     8 &     2 \\ \hline
18 & 1.72757 &        3 &     6 &   0.01211 & 0.16153 &    11 &     7 \\ \hline
19 & 1.73968 &        3 &     5 &   0.06969 & 0.14942 &    12 &     2 \\ \hline
20 & 1.80937 &        3 &     4 &   0.05924 & 0.07973 &     4 &     3 \\ \hline
21 & 1.86861 &        3 &     3 &   0.27113 & 0.02049 &     7 &     5 \\ \hline
22 & 1.88910 &        1 &     4 &   0.25064 & 0.07032 &    13 &     2 \\ \hline
23 & 1.95941 &        1 &     5 &   0.09102 & 0.03176 &    14 &     3 \\ \hline
24 & 1.99117 &        1 &     6 &   0.05926 & 0.00560 &    15 &     5 \\ \hline
25 & 1.99678 &        1 &     7 &   0.03807 & 0.02195 &    16 &     7 \\ \hline

\end{tabular}

In [ ]:
print(latex_tables[1])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 l &   t\_соб &  Type(l) &  C(l) &  t\_остмин &   t\_ожз &  j(l) &  k(l) \\ \hline

26 & 2.01872 &        1 &     8 &   0.01613 & 0.73342 &    17 &    -1 \\ \hline
27 & 2.03485 &        3 &     7 &   0.01558 & 0.71729 &    16 &     7 \\ \hline
28 & 2.05043 &        3 &     6 &   0.04969 & 0.70171 &    14 &     3 \\ \hline
29 & 2.10012 &        3 &     5 &   0.03381 & 0.65202 &    15 &     5 \\ \hline
30 & 2.13393 &        3 &     4 &   0.00581 & 0.61821 &    17 &     7 \\ \hline
31 & 2.13974 &        3 &     3 &   0.27462 & 0.61240 &     3 &     1 \\ \hline
32 & 2.41436 &        3 &     2 &   0.09859 & 0.33778 &    10 &     4 \\ \hline
33 & 2.51295 &        3 &     1 &   0.66978 & 0.23919 &     9 &     6 \\ \hline
34 & 2.75214 &        1 &     2 &   0.43059 & 0.26521 &    18 &     1 \\ \hline
35 & 3.01735 &        1 &     3 &   0.16538 & 0.01574 &    19 &     3 \\ \hline
36 & 3.03310 &        1 &     4 &   0.07234 & 0.01722 &    20 &     4 \\ \hline
37 & 3.05032 &        1 &     5 &   0.05512 & 0.11617 &    21 &     5 \\ \hline
38 & 3.10544 &        3 &     4 &   0.07729 & 0.06104 &    20 &     4 \\ \hline
39 & 3.16649 &        1 &     5 &   0.01625 & 0.13588 &    22 &     4 \\ \hline
40 & 3.18273 &        3 &     4 &   0.06892 & 0.11963 &    13 &     2 \\ \hline
41 & 3.25165 &        3 &     3 &   0.44926 & 0.05071 &    22 &     4 \\ \hline
42 & 3.30236 &        1 &     4 &   0.39855 & 0.08788 &    23 &     2 \\ \hline
43 & 3.39024 &        1 &     5 &   0.31067 & 0.10088 &    24 &     4 \\ \hline
44 & 3.49111 &        1 &     6 &   0.20980 & 0.17687 &    25 &     6 \\ \hline
45 & 3.66799 &        1 &     7 &   0.01837 & 0.04085 &    26 &     7 \\ \hline
46 & 3.68636 &        3 &     6 &   0.01455 & 0.02248 &    26 &     7 \\ \hline
47 & 3.70091 &        3 &     5 &   0.11576 & 0.00793 &    21 &     5 \\ \hline
48 & 3.70884 &        1 &     6 &   0.10783 & 0.03113 &    27 &     5 \\ \hline
49 & 3.73997 &        1 &     7 &   0.07670 & 0.06083 &    28 &     7 \\ \hline
50 & 3.80080 &        1 &     8 &   0.01586 & 0.03646 &    29 &    -1 \\ \hline

\end{tabular}

In [ ]:
print(latex_tables[2])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 l &   t\_соб &  Type(l) &  C(l) &  t\_остмин &   t\_ожз &  j(l) &  k(l) \\ \hline

51 & 3.81667 &        3 &     7 &   0.04453 & 0.02060 &    23 &     2 \\ \hline
52 & 3.83228 &        3 &     6 &   0.02892 & 0.00498 &    29 &     2 \\ \hline
53 & 3.83726 &        1 &     7 &   0.02394 & 0.07573 &    30 &     2 \\ \hline
54 & 3.86120 &        3 &     6 &   0.21771 & 0.05180 &    28 &     7 \\ \hline
55 & 3.91300 &        1 &     7 &   0.16591 & 0.32387 &    31 &     7 \\ \hline
56 & 4.07891 &        3 &     6 &   0.10532 & 0.15797 &    19 &     3 \\ \hline
57 & 4.18423 &        3 &     5 &   0.02519 & 0.05264 &    30 &     2 \\ \hline
58 & 4.20942 &        3 &     4 &   0.09375 & 0.02746 &    24 &     4 \\ \hline
59 & 4.23687 &        1 &     5 &   0.06629 & 0.23402 &    32 &     2 \\ \hline
60 & 4.30316 &        3 &     4 &   0.12274 & 0.16773 &    27 &     5 \\ \hline
61 & 4.42590 &        3 &     3 &   0.00636 & 0.04499 &    32 &     2 \\ \hline
62 & 4.43226 &        3 &     2 &   0.48977 & 0.03863 &    25 &     6 \\ \hline
63 & 4.47089 &        1 &     3 &   0.45114 & 0.01702 &    33 &     2 \\ \hline
64 & 4.48791 &        1 &     4 &   0.26889 & 0.06046 &    34 &     3 \\ \hline
65 & 4.54836 &        1 &     5 &   0.20843 & 0.01262 &    35 &     4 \\ \hline
66 & 4.56098 &        1 &     6 &   0.19582 & 0.65223 &    36 &     5 \\ \hline
67 & 4.75680 &        3 &     5 &   0.16523 & 0.45641 &    34 &     3 \\ \hline
68 & 4.92203 &        3 &     4 &   0.01620 & 0.29118 &    31 &     7 \\ \hline
69 & 4.93823 &        3 &     3 &   0.05885 & 0.27498 &    35 &     4 \\ \hline
70 & 4.99708 &        3 &     2 &   0.06104 & 0.21613 &    36 &     5 \\ \hline
71 & 5.05811 &        3 &     1 &   1.54369 & 0.15509 &    18 &     1 \\ \hline
72 & 5.21321 &        1 &     2 &   0.77596 & 0.11392 &    37 &     1 \\ \hline
73 & 5.32713 &        1 &     3 &   0.56761 & 0.13722 &    38 &     3 \\ \hline
74 & 5.46435 &        1 &     4 &   0.34933 & 0.02885 &    39 &     4 \\ \hline
75 & 5.49320 &        1 &     5 &   0.24570 & 0.13474 &    40 &     5 \\ \hline

\end{tabular}

In [ ]:
print(latex_tables[3])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
  l &   t\_соб &  Type(l) &  C(l) &  t\_остмин &   t\_ожз &  j(l) &  k(l) \\ \hline

 76 & 5.62794 &        1 &     6 &   0.11096 & 0.00569 &    41 &     6 \\ \hline
 77 & 5.63364 &        1 &     7 &   0.10526 & 0.22938 &    42 &     7 \\ \hline
 78 & 5.73890 &        3 &     6 &   0.01636 & 0.12412 &    40 &     5 \\ \hline
 79 & 5.75526 &        3 &     5 &   0.02022 & 0.10776 &    41 &     6 \\ \hline
 80 & 5.77548 &        3 &     4 &   0.03820 & 0.08754 &    42 &     7 \\ \hline
 81 & 5.81368 &        3 &     3 &   0.08106 & 0.04934 &    39 &     4 \\ \hline
 82 & 5.86302 &        1 &     4 &   0.03172 & 0.13011 &    43 &     4 \\ \hline
 83 & 5.89474 &        3 &     3 &   0.09444 & 0.09839 &    38 &     3 \\ \hline
 84 & 5.98917 &        3 &     2 &   0.02329 & 0.00396 &    37 &     1 \\ \hline
 85 & 5.99313 &        1 &     3 &   0.01933 & 0.26014 &    44 &     1 \\ \hline
 86 & 6.01246 &        3 &     2 &   0.58934 & 0.24081 &    43 &     4 \\ \hline
 87 & 6.25327 &        1 &     3 &   0.09488 & 0.00022 &    45 &     3 \\ \hline
 88 & 6.25349 &        1 &     4 &   0.09467 & 0.07440 &    46 &     4 \\ \hline
 89 & 6.32789 &        1 &     5 &   0.02026 & 0.03916 &    47 &     5 \\ \hline
 90 & 6.34815 &        3 &     4 &   0.25365 & 0.01890 &    45 &     3 \\ \hline
 91 & 6.36706 &        1 &     5 &   0.23475 & 0.16096 &    48 &     3 \\ \hline
 92 & 6.52802 &        1 &     6 &   0.07378 & 0.04512 &    49 &     6 \\ \hline
 93 & 6.57314 &        1 &     7 &   0.02866 & 0.58745 &    50 &     7 \\ \hline
 94 & 6.60180 &        3 &     6 &   0.33027 & 0.55879 &    33 &     2 \\ \hline
 95 & 6.93207 &        3 &     5 &   0.02783 & 0.22852 &    48 &     3 \\ \hline
 96 & 6.95991 &        3 &     4 &   0.08800 & 0.20069 &    50 &     7 \\ \hline
 97 & 7.04790 &        3 &     3 &   0.22419 & 0.11269 &    46 &     4 \\ \hline
 98 & 7.16060 &        1 &     4 &   0.11150 & 0.02790 &    51 &     2 \\ \hline
 99 & 7.18850 &        1 &     5 &   0.08360 & 0.01073 &    52 &     3 \\ \hline
100 & 7.19923 &        1 &     6 &   0.07287 & 0.00134 &    53 &     4 \\ \hline

\end{tabular}

## Вывод 2

In [ ]:
rdf = pd.DataFrame.from_dict(requests).transpose()
rdf['j'] = rdf['j'].astype(int)

rdf['tw'] = rdf['tw'].round(5)
rdf['te'] = rdf['te'].round(5)
rdf['tq'] = rdf['tq'].round(5)
rdf['ts'] = rdf['ts'].round(5)
rdf['tz'] = rdf['tz'].round(5)

rdf['q'] = rdf['q'].astype(int)
rdf['tk'] = rdf['tk'].astype(int)
rdf

     j       tz  q       tq       ts       tw        te  tk
1    1  0.30952  0  0.00000  0.30952  0.11892   0.42844   1
2    2  0.41305  0  0.00000  0.41305  0.16158   0.57463   2
3    3  0.54051  0  0.00000  0.54051  1.59923   2.13974   1
4    4  0.56521  0  0.00000  0.56521  1.24416   1.80937   3
5    5  0.75655  0  0.00000  0.75655  0.20956   0.96611   2
6    6  0.91793  0  0.00000  0.91793  0.19196   1.10989   4
7    7  0.94647  0  0.00000  0.94647  0.92214   1.86861   5
8    8  1.00727  0  0.00000  1.00727  0.60275   1.61003   2
9    9  1.08908  0  0.00000  1.08908  1.42387   2.51295   6
10  10  1.41106  0  0.00000  1.41106  1.00330   2.41436   4
11  11  1.55197  0  0.00000  1.55197  0.17559   1.72757   7
12  12  1.57594  1  0.03409  1.61003  0.12965   1.73968   2
13  13  1.88910  0  0.00000  1.88910  1.29363   3.18273   2
14  14  1.95941  0  0.00000  1.95941  0.09102   2.05043   3
15  15  1.99117  0  0.00000  1.99117  0.10895   2.10012   5
16  16  1.99678  0  0.00000  1.99678  0.03807   2.03485   7
17  17  2.01872  1  0.01613  2.03485  0.09908   2.13393   7
18  18  2.75214  0  0.00000  2.75214  2.30597   5.05811   1
19  19  3.01735  0  0.00000  3.01735  1.06155   4.07891   3
20  20  3.03310  0  0.00000  3.03310  0.07234   3.10544   4
21  21  3.05032  0  0.00000  3.05032  0.65059   3.70091   5
22  22  3.16649  0  0.00000  3.16649  0.08517   3.25165   4
23  23  3.30236  0  0.00000  3.30236  0.51431   3.81667   2
24  24  3.39024  0  0.00000  3.39024  0.81918   4.20942   4
25  25  3.49111  0  0.00000  3.49111  0.94115   4.43226   6
26  26  3.66799  0  0.00000  3.66799  0.01837   3.68636   7
27  27  3.70884  0  0.00000  3.70884  0.59432   4.30316   5
28  28  3.73997  0  0.00000  3.73997  0.12123   3.86120   7
29  29  3.80080  1  0.01586  3.81667  0.01562   3.83228   2
30  30  3.83726  0  0.00000  3.83726  0.34697   4.18423   2
31  31  3.91300  0  0.00000  3.91300  1.00903   4.92203   7
32  32  4.23687  0  0.00000  4.23687  0.18903   4.42590   2
33  33  4.47089  0  0.00000  4.47089  2.13091   6.60180   2
34  34  4.48791  0  0.00000  4.48791  0.26889   4.75680   3
35  35  4.54836  0  0.00000  4.54836  0.38986   4.93823   4
36  36  4.56098  0  0.00000  4.56098  0.43609   4.99708   5
37  37  5.21321  0  0.00000  5.21321  0.77596   5.98917   1
38  38  5.32713  0  0.00000  5.32713  0.56761   5.89474   3
39  39  5.46435  0  0.00000  5.46435  0.34933   5.81368   4
40  40  5.49320  0  0.00000  5.49320  0.24570   5.73890   5
41  41  5.62794  0  0.00000  5.62794  0.12732   5.75526   6
42  42  5.63364  0  0.00000  5.63364  0.14184   5.77548   7
43  43  5.86302  0  0.00000  5.86302  0.14944   6.01246   4
44  44  5.99313  0  0.00000  5.99313  1.27897   7.27210   1
45  45  6.25327  0  0.00000  6.25327  0.09488   6.34815   3
46  46  6.25349  0  0.00000  6.25349  0.79442   7.04790   4
47  47  6.32789  0  0.00000  6.32789  1.20731   7.53520   5
48  48  6.36706  0  0.00000  6.36706  0.56502   6.93207   3
49  49  6.52802  0  0.00000  6.52802  3.65846  10.18648   6
50  50  6.57314  0  0.00000  6.57314  0.38676   6.95991   7
51  51  7.16060  0  0.00000  7.16060  0.75118   7.91178   2
52  52  7.18850  0  0.00000  7.18850  0.31085   7.49935   3
53  53  7.19923  0  0.00000  7.19923  0.09092   7.29015   4

In [ ]:
df1, df2, df3 = rdf[:25], rdf[25:50], rdf[50:]
tables = [df1, df2, df3]

In [ ]:
def latex_with_lines(df):
    column_format = '|c|c|c|c|c|c|c|c|'
    latex = df.to_latex(index=False, column_format=column_format)

    # Добавляем горизонтальные линии
    latex = latex.replace('\\toprule', '\\hline')

    latex = latex.replace('\\midrule', '')
    latex = latex.replace('\\bottomrule', '')

    latex = latex.replace('\\\\\n', '\\\\ \\hline\n')

    return latex

# Используем функцию
latex_tables = [latex_with_lines(df) for df in tables]

<ipython-input-103-7c7b5d23a51f>:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex = df.to_latex(index=False, column_format=column_format)

In [ ]:
print(latex_tables[0])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 j &      tz &  q &      tq &      ts &      tw &      te &  tk \\ \hline

 1 & 0.30952 &  0 & 0.00000 & 0.30952 & 0.11892 & 0.42844 &   1 \\ \hline
 2 & 0.41305 &  0 & 0.00000 & 0.41305 & 0.16158 & 0.57463 &   2 \\ \hline
 3 & 0.54051 &  0 & 0.00000 & 0.54051 & 1.59923 & 2.13974 &   1 \\ \hline
 4 & 0.56521 &  0 & 0.00000 & 0.56521 & 1.24416 & 1.80937 &   3 \\ \hline
 5 & 0.75655 &  0 & 0.00000 & 0.75655 & 0.20956 & 0.96611 &   2 \\ \hline
 6 & 0.91793 &  0 & 0.00000 & 0.91793 & 0.19196 & 1.10989 &   4 \\ \hline
 7 & 0.94647 &  0 & 0.00000 & 0.94647 & 0.92214 & 1.86861 &   5 \\ \hline
 8 & 1.00727 &  0 & 0.00000 & 1.00727 & 0.60275 & 1.61003 &   2 \\ \hline
 9 & 1.08908 &  0 & 0.00000 & 1.08908 & 1.42387 & 2.51295 &   6 \\ \hline
10 & 1.41106 &  0 & 0.00000 & 1.41106 & 1.00330 & 2.41436 &   4 \\ \hline
11 & 1.55197 &  0 & 0.00000 & 1.55197 & 0.17559 & 1.72757 &   7 \\ \hline
12 & 1.57594 &  1 & 0.03409 & 1.61003 & 0.12965 & 1.73968 &   2 \\ \hline
13 & 1.88910 &  0 & 0.00000 & 1.88910 & 1.29363 & 3.18273 &   2 \\ \hline
14 & 1.95941 &  0 & 0.00000 & 1.95941 & 0.09102 & 2.05043 &   3 \\ \hline
15 & 1.99117 &  0 & 0.00000 & 1.99117 & 0.10895 & 2.10012 &   5 \\ \hline
16 & 1.99678 &  0 & 0.00000 & 1.99678 & 0.03807 & 2.03485 &   7 \\ \hline
17 & 2.01872 &  1 & 0.01613 & 2.03485 & 0.09908 & 2.13393 &   7 \\ \hline
18 & 2.75214 &  0 & 0.00000 & 2.75214 & 2.30597 & 5.05811 &   1 \\ \hline
19 & 3.01735 &  0 & 0.00000 & 3.01735 & 1.06155 & 4.07891 &   3 \\ \hline
20 & 3.03310 &  0 & 0.00000 & 3.03310 & 0.07234 & 3.10544 &   4 \\ \hline
21 & 3.05032 &  0 & 0.00000 & 3.05032 & 0.65059 & 3.70091 &   5 \\ \hline
22 & 3.16649 &  0 & 0.00000 & 3.16649 & 0.08517 & 3.25165 &   4 \\ \hline
23 & 3.30236 &  0 & 0.00000 & 3.30236 & 0.51431 & 3.81667 &   2 \\ \hline
24 & 3.39024 &  0 & 0.00000 & 3.39024 & 0.81918 & 4.20942 &   4 \\ \hline
25 & 3.49111 &  0 & 0.00000 & 3.49111 & 0.94115 & 4.43226 &   6 \\ \hline

\end{tabular}

In [ ]:
print(latex_tables[1])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 j &      tz &  q &      tq &      ts &      tw &       te &  tk \\ \hline

26 & 3.66799 &  0 & 0.00000 & 3.66799 & 0.01837 &  3.68636 &   7 \\ \hline
27 & 3.70884 &  0 & 0.00000 & 3.70884 & 0.59432 &  4.30316 &   5 \\ \hline
28 & 3.73997 &  0 & 0.00000 & 3.73997 & 0.12123 &  3.86120 &   7 \\ \hline
29 & 3.80080 &  1 & 0.01586 & 3.81667 & 0.01562 &  3.83228 &   2 \\ \hline
30 & 3.83726 &  0 & 0.00000 & 3.83726 & 0.34697 &  4.18423 &   2 \\ \hline
31 & 3.91300 &  0 & 0.00000 & 3.91300 & 1.00903 &  4.92203 &   7 \\ \hline
32 & 4.23687 &  0 & 0.00000 & 4.23687 & 0.18903 &  4.42590 &   2 \\ \hline
33 & 4.47089 &  0 & 0.00000 & 4.47089 & 2.13091 &  6.60180 &   2 \\ \hline
34 & 4.48791 &  0 & 0.00000 & 4.48791 & 0.26889 &  4.75680 &   3 \\ \hline
35 & 4.54836 &  0 & 0.00000 & 4.54836 & 0.38986 &  4.93823 &   4 \\ \hline
36 & 4.56098 &  0 & 0.00000 & 4.56098 & 0.43609 &  4.99708 &   5 \\ \hline
37 & 5.21321 &  0 & 0.00000 & 5.21321 & 0.77596 &  5.98917 &   1 \\ \hline
38 & 5.32713 &  0 & 0.00000 & 5.32713 & 0.56761 &  5.89474 &   3 \\ \hline
39 & 5.46435 &  0 & 0.00000 & 5.46435 & 0.34933 &  5.81368 &   4 \\ \hline
40 & 5.49320 &  0 & 0.00000 & 5.49320 & 0.24570 &  5.73890 &   5 \\ \hline
41 & 5.62794 &  0 & 0.00000 & 5.62794 & 0.12732 &  5.75526 &   6 \\ \hline
42 & 5.63364 &  0 & 0.00000 & 5.63364 & 0.14184 &  5.77548 &   7 \\ \hline
43 & 5.86302 &  0 & 0.00000 & 5.86302 & 0.14944 &  6.01246 &   4 \\ \hline
44 & 5.99313 &  0 & 0.00000 & 5.99313 & 1.27897 &  7.27210 &   1 \\ \hline
45 & 6.25327 &  0 & 0.00000 & 6.25327 & 0.09488 &  6.34815 &   3 \\ \hline
46 & 6.25349 &  0 & 0.00000 & 6.25349 & 0.79442 &  7.04790 &   4 \\ \hline
47 & 6.32789 &  0 & 0.00000 & 6.32789 & 1.20731 &  7.53520 &   5 \\ \hline
48 & 6.36706 &  0 & 0.00000 & 6.36706 & 0.56502 &  6.93207 &   3 \\ \hline
49 & 6.52802 &  0 & 0.00000 & 6.52802 & 3.65846 & 10.18648 &   6 \\ \hline
50 & 6.57314 &  0 & 0.00000 & 6.57314 & 0.38676 &  6.95991 &   7 \\ \hline

\end{tabular}

In [ ]:
print(latex_tables[2])

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\hline
 j &      tz &  q &  tq &      ts &      tw &      te &  tk \\ \hline

51 & 7.16060 &  0 & 0.0 & 7.16060 & 0.75118 & 7.91178 &   2 \\ \hline
52 & 7.18850 &  0 & 0.0 & 7.18850 & 0.31085 & 7.49935 &   3 \\ \hline
53 & 7.19923 &  0 & 0.0 & 7.19923 & 0.09092 & 7.29015 &   4 \\ \hline

\end{tabular}

## Вывод 3

In [ ]:
final_t = adf["t_соб"][99]
final_t

7.19923

In [ ]:
ddf = pd.DataFrame([[device.device_id, device.processed, device.was_busy, final_t-device.was_busy, (final_t-device.was_busy)/final_t] for device in devices],
                   columns=['k', 'N(k)', 't_зан', 't_np', "Delta"])
ddf.loc[len(ddf.index)] = [None, sum(ddf["N(k)"]), sum(ddf["N(k)"])/n,  sum(ddf["t_np"])/n,  sum(ddf["Delta"])/n]

ddf['k'] = ddf['k'].astype("Int64")
ddf['N(k)'] = ddf['N(k)'].astype(int)
ddf['t_зан'] = ddf['t_зан'].round(5)
ddf['t_np'] = ddf['t_np'].round(5)
ddf['Delta'] = ddf['Delta'].round(5)

ddf

      k  N(k)    t_зан     t_np    Delta
0     1     5  6.00618  1.19305  0.16572
1     2    11  5.63264  1.56659  0.21760
2     3     8  3.90386  3.29537  0.45774
3     4    10  3.85500  3.34423  0.46453
4     5     7  3.82913  3.37010  0.46812
5     6     4  3.16354  4.03569  0.56057
6     7     8  1.98999  5.20924  0.72358
7  <NA>    53  7.57143  3.14490  0.43684

In [ ]:
def latex_with_lines(df):
    column_format = '|c|c|c|c|c|'
    latex = df.to_latex(index=False, column_format=column_format)

    # Добавляем горизонтальные линии
    latex = latex.replace('\\toprule', '\\hline')

    latex = latex.replace('\\midrule', '')
    latex = latex.replace('\\bottomrule', '')

    latex = latex.replace('\\\\\n', '\\\\ \\hline\n')
    latex = latex.replace('<NA>', ' ')

    return latex

# Используем функцию
latex_table = latex_with_lines(ddf)

<ipython-input-109-24eb57417011>:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex = df.to_latex(index=False, column_format=column_format)

In [ ]:
print(latex_table)

\begin{tabular}{|c|c|c|c|c|}
\hline
   k &  N(k) &   t\_зан &    t\_np &   Delta \\ \hline

   1 &     5 & 6.00618 & 1.19305 & 0.16572 \\ \hline
   2 &    11 & 5.63264 & 1.56659 & 0.21760 \\ \hline
   3 &     8 & 3.90386 & 3.29537 & 0.45774 \\ \hline
   4 &    10 & 3.85500 & 3.34423 & 0.46453 \\ \hline
   5 &     7 & 3.82913 & 3.37010 & 0.46812 \\ \hline
   6 &     4 & 3.16354 & 4.03569 & 0.56057 \\ \hline
   7 &     8 & 1.98999 & 5.20924 & 0.72358 \\ \hline
  &    53 & 7.57143 & 3.14490 & 0.43684 \\ \hline

\end{tabular}

## Вывод 4

In [ ]:
adf['C(l)'].value_counts().sort_index().index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [ ]:
R = adf['C(l)'].value_counts().sort_index().values
if adf['C(l)'].value_counts().sort_index().index[0] != 0:
  R = np.insert(R, 0, 0)
R

array([ 0,  4, 10, 15, 20, 20, 17, 11,  3])

In [ ]:
sum([r/100 for r in R])

1.0

In [ ]:
s = final_t

T = [0]*(len(R))
D = [0]*len(R)
cur_state = 0
last_time = 0

for e in actions:
  _st = e[3]
  if _st != cur_state:
    # print(_st, e[1])
    T[cur_state] += e[1] - last_time
    last_time, cur_state = e[1], e[3]

for i in range(len(T)):
  D[i] = T[i]/s
print(T)
print(s, D, sum(D))

[0.3095188720299117, 0.609889193268722, 1.0441636055031878, 1.027821038261366, 0.9749508473206301, 1.362136520906271, 1.2070399415413602, 0.5976309038786043, 0.06607473978554523]
7.19923 [0.04299333012418157, 0.08471589229247045, 0.1450382340199143, 0.14276819024553541, 0.13542432278460753, 0.18920586241949083, 0.16766236688386954, 0.08301317000270922, 0.009178028731620637] 0.9999993975043994

In [ ]:
states = np.array(adf['C(l)'].value_counts().sort_index().index)
if states[0] != 0:
  states = np.insert(states, 0, 0)
states

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
import math

def calculate_P0(lam, mu, n, m):
  rho = lam/mu
  nu = rho/n
  return 3.1837621363823E-7 #
  return np.sum([(rho**k)/(factorial(k)) for k in range(n)] + [((rho**n)/factorial(n)) * np.sum([nu**k for k in range(m+1)])])**-1

def calculate_Pi(lam, mu, n, m, i):
    rho = lam/mu
    return (rho**i/factorial(i)) * calculate_P0(lam ,mu, n, m)


p0 = calculate_P0(lam, mu, n, m)
Pi = calculate_Pi(lam, mu, n, m, 19)
print(p0, Pi)

3.1837621363823e-07 2.316389916041767e-08

In [ ]:
n+m

19

In [ ]:
np.sum([calculate_Pi(lam, mu, n, m, i) for i in range(20)])

0.0003182481615306811

In [ ]:
sdf = pd.DataFrame({
    'Состояние': states,
    "r_i": [calculate_Pi(lam, mu, n, m, i) for i in range(len(R))],
    'R': R
})
sdf['v'] = sdf["R"]/100
sdf['T'] = T
sdf['Delta'] = D

sdf.loc[len(sdf.index)] = [None, sum(sdf["r_i"]), sum(sdf["R"]),  sum(sdf["v"]), sum(sdf["T"]), sum(sdf["Delta"])]

sdf['Состояние'] = sdf['Состояние'].astype("Int64")
sdf['r_i'] = sdf['r_i'].round(5)
sdf['R'] = sdf['R'].astype(int)
sdf['T'] = sdf['T'].round(5)
sdf['Delta'] = sdf['Delta'].round(5)
sdf

   Состояние      r_i    R     v        T    Delta
0          0  0.00000    0  0.00  0.30952  0.04299
1          1  0.00000    4  0.04  0.60989  0.08472
2          2  0.00001   10  0.10  1.04416  0.14504
3          3  0.00002   15  0.15  1.02782  0.14277
4          4  0.00003   20  0.20  0.97495  0.13542
5          5  0.00004   20  0.20  1.36214  0.18921
6          6  0.00005   17  0.17  1.20704  0.16766
7          7  0.00005   11  0.11  0.59763  0.08301
8          8  0.00004    3  0.03  0.06607  0.00918
9       <NA>  0.00024  100  1.00  7.19923  1.00000

In [ ]:
def latex_with_lines(df):
    column_format = '|c|c|c|c|c|'
    latex = df.to_latex(index=False, column_format=column_format)

    # Добавляем горизонтальные линии
    latex = latex.replace('\\toprule', '\\hline')

    latex = latex.replace('\\midrule', '')
    latex = latex.replace('\\bottomrule', '')

    latex = latex.replace('\\\\\n', '\\\\ \\hline\n')
    latex = latex.replace('<NA>', ' ')

    return latex

# Используем функцию
latex_table = latex_with_lines(sdf)

<ipython-input-120-edcf29cf9fc3>:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex = df.to_latex(index=False, column_format=column_format)

In [ ]:
print(latex_table)

\begin{tabular}{|c|c|c|c|c|}
\hline
 Состояние &     r\_i &   R &    v &       T &   Delta \\ \hline

         0 & 0.00000 &   0 & 0.00 & 0.30952 & 0.04299 \\ \hline
         1 & 0.00000 &   4 & 0.04 & 0.60989 & 0.08472 \\ \hline
         2 & 0.00001 &  10 & 0.10 & 1.04416 & 0.14504 \\ \hline
         3 & 0.00002 &  15 & 0.15 & 1.02782 & 0.14277 \\ \hline
         4 & 0.00003 &  20 & 0.20 & 0.97495 & 0.13542 \\ \hline
         5 & 0.00004 &  20 & 0.20 & 1.36214 & 0.18921 \\ \hline
         6 & 0.00005 &  17 & 0.17 & 1.20704 & 0.16766 \\ \hline
         7 & 0.00005 &  11 & 0.11 & 0.59763 & 0.08301 \\ \hline
         8 & 0.00004 &   3 & 0.03 & 0.06607 & 0.00918 \\ \hline
        & 0.00024 & 100 & 1.00 & 7.19923 & 1.00000 \\ \hline

\end{tabular}

## Вывод 5

In [ ]:
print(len(rdf)) #число заявок

53

In [ ]:
rdf[(rdf["te"] > adf["t_соб"][99]) | (rdf["tk"] == -2) | (rdf["tk"] == -1)] # Эти заявки не завершились на последнем событии или стоят в очереди

     j       tz  q   tq       ts       tw        te  tk
44  44  5.99313  0  0.0  5.99313  1.27897   7.27210   1
47  47  6.32789  0  0.0  6.32789  1.20731   7.53520   5
49  49  6.52802  0  0.0  6.52802  3.65846  10.18648   6
51  51  7.16060  0  0.0  7.16060  0.75118   7.91178   2
52  52  7.18850  0  0.0  7.18850  0.31085   7.49935   3
53  53  7.19923  0  0.0  7.19923  0.09092   7.29015   4

In [ ]:
obsl = len(rdf[(rdf["tk"] != -1) & (rdf["te"] <= adf["t_соб"][99]) & (rdf["tk"] != -2)]) # Обработанные заявки
obsl

47

In [ ]:
adf["C(l)"].sum()/100 # среднее число заявок

4.52

In [ ]:
rdf["tq"][(rdf["tq"] >= 0) & (rdf["tk"] != -2)].sum()/obsl # среднее пребывание в очереди

0.0014059574468085105

In [ ]:
np.round(0.07469825301816856, 5)

0.0747

In [ ]:
(rdf["te"][rdf["tq"] >= 0] - rdf["tz"][rdf["tq"] >= 0]).sum()/obsl # среднее пребывание в СМО

0.7009812765957445

In [ ]:
np.round(1.5607197826808805, 5)

1.56072

In [ ]:
p = lam/(mu)
p

6.907390084190833